[2022-09-02 13:17] bhoomikav16 commented on #4874
Issue is fixed in the latest dev instance

[2022-09-02 13:18] nishit-v opened #4886 "[Auth Server] Randomly getting session expired message and user is automatically logged off"
**Steps:**
1. Login into app (iOS)
2. Enroll into the study
3. Keep the app idle for some time(>30 mins)
4. Open the app again and observe user got session expired message

**Actual:** Randomly getting session expired message and user is automatically logged off

**Expected:** User should not be automatically logged off

1. One of the user got session expired message at 6:44PM - Sep 02 2022

[2022-09-02 14:13] Madhud5 commented on #4272
Hi @Lathan-btc please check in DEV instance and let me know.

[2022-09-02 15:07] nagarjunav1 opened #4887 "[Android][Scheduling] Runs count is wrong for monthly regular survey"
Steps:-
1. Schedule a activity with regular-monthly frequency in SB and publish
2. Install and login into the Android app
3. Enroll into study and navigate into study activities screen
4. Observe the run count for the activity

A/R:- Currently, activity is displaying with run count of 8
E/R:- Run count should be displayed as 10

Note:-
Issue happened for below activity
**App ID** - GCPMOB001
**Stu

[2022-09-05 05:48] Lathan-btc commented on #4272
Issue is reproducible in the latest Dev instance

[2022-09-05 08:30] bhoomikav16 opened #4888 "[Android] Comprehension success screen is not getting displayed in updated consent flow"
**Steps:**
1. Sign in and enroll to the study
2. Now, Go to SB and update the consent for enrolled participants
3. Open the mobile app and complete the eligibility section
4. Navigate to comprehension section
5. Complete the comprehension section and Observe

**AR:**  Comprehension success screen is not getting displayed in updated consent flow
**ER:**  Comprehension success screen should get disp

[2022-09-05 08:36] Lathan-btc opened #4889 "[iOS] Enrollment flow > Data sharing permission > Participant is able to select both data sharing options present on the screen"
AR: Enrollment flow > Data sharing permission > Participant is able to select both data sharing options present on the screen
ER: Participants should be able to select only one option at a time on the data sharing permission screen

![image](https://user-images.githubusercontent.com/71445210/188405882-79fec2d7-5769-4ecd-a78b-73ea2d98849c.png)

[2022-09-05 08:44] Lathan-btc opened #4890 "[iOS] updated consent is not getting displayed to the participants in the following scenario"
Steps:
1. Sign up or Sign in to the mobile app
2. Enroll to the study
3. After navigating to the activities screen, lock the mobile
4. Go to the SB, update the consent for enrolled participants and publish the updates
5. Unlock the mobile app
6. Enter the passcode for the app
7. Refresh the page and observe

AR: Updated consent is not getting displayed to the participants
ER: Updated consent shoul

[2022-09-05 10:29] bhoomikav16 commented on #4709
Issue is fixed in the latest dev instance

[2022-09-05 11:05] bhoomikav16 commented on #4886
Issue is again observed in android device, User got session expired at 04:32PM - Sep 05 2022

[2022-09-05 11:16] nishit-v commented on #4792
Issue is still reproducible in latest iOS dev build V3.0.147

[2022-09-05 11:25] nishit-v opened #4892 "[iOS] Consent > App crashes clicking on 'Cancel' button in try again screen after failing comprehension test"
**Steps:**

Login and enroll into a study
Update the consent from SB and publish
Navigate to study activities and click on 'Review' in pop-up
Fail the comprehension test questions
Click on 'Cancel' on top right and observe app crashes

**Actual:** App crashes clicking on 'Cancel' button in try again screen after failing comprehension test

**Expected:** App should not crash and should navigate to

[2022-09-05 11:33] Lathan-btc opened #4893 "[iOS] Closed/combined study > Study resources screen > Data sharing image > Not able to open the data sharing image in the following scenario"
Steps:
1. Sign up or sign in to the mobile app
2. Search for a closed study and enrolled to the study
3. Withdrawn from the study
4. Again enroll to the study
5. Click on the 'Resources' screen
6. Click on 'Data sharing image' and observe

AR: Screen is loading when the participant clicks on the 'Data sharing image'
ER: Data sharing image should get displayed to the participants when he or she cli

[2022-09-05 11:33] bhoomikav16 opened #4894 "[Android] Comprehension test is not getting failed in the updated consent flow"
**Steps:**
1. Sign in and enroll to the study
2. Now, Go to SB and update the consent for enrolled participants
3. Open the mobile app and complete the eligibility section
4. Navigate to comprehension section
5. Fail the comprehension section and Observe

**AR:**  Comprehension test is not getting failed in the updated consent flow
**ER:** Comprehension test should be failed in the updated consent

[2022-09-05 11:36] nishit-v commented on #4885
Issue is fixed in latest iOS dev build V3.0(148)

[2022-09-05 11:37] nishit-v commented on #4884
Issue is fixed in latest iOS dev build V3.0(148)

[2022-09-05 11:50] amruthbtc commented on #4892
Issue fixed in GCP Build 3.0 (150)

[2022-09-05 11:55] nishit-v commented on #4892
Issue is fixed in latest QA iOS dev build V3.0(150)

[2022-09-05 12:11] Lathan-btc opened #4896 "[iOS] Comprehension test questions > Participant is automatically navigating to the next screen in the following scenario"
Steps:
1. SB> Add or edit study > Go to comprehension section
2. Add a comprehension test question by selecting 'any of the answer options marked 'correct' above' button
3. Launch/publish the study
4. Sign u or sign in to the mobile app
5. Enroll to the study
6. After navigating the comprehension test screen, select the answer option and observe

AR: Participant is automatically navigating to the

[2022-09-05 12:27] Lathan-btc commented on #4870
Issue is fixed in the latest Dev instance

[2022-09-05 12:35] bhoomikav16 commented on #4888
Issue is fixed in the latest dev build 1.0(204)

[2022-09-05 12:37] bhoomikav16 commented on #4894
Issue is fixed in the latest dev build 1.0(204)

[2022-09-05 12:45] Madhud5 commented on #4272
Hi @Lathan-btc pls check and let me know

[2022-09-05 12:56] nishit-v opened #4897 "[iOS] Anchor date based activities/resources disappears once user logs out and logs in"
**Steps:**

1. Create a source and target questionnaire from SB and publish
2. From mobile answer a source questionnaire
3. Target questionnaire is displayed in the list
4. Logout and login with same user credentials
5. Observe target questionnaire disappears

**Actual result:** Anchor date based activities/resources disappears once user logs out and logs in

**Expected result:**  Anchor date base

[2022-09-05 13:16] Lathan-btc commented on #4272
Issue is reproducible in the latest Dev instance

[2022-09-05 13:24] bhoomikav16 opened #4898 "[Android] Issues with respect to push notifications in the mobile app"
Issues with respect to push notifications in the mobile app,

**Scenario1:**
Add resources with anchor-date based period in the SB with 'Text for notifying participants about the new resource being available' field should not be configured in the resources screen and then Publish the study,
**AR:**  Blank push notifications are getting displayed in the mobile app
**ER:**  Push notifications should

[2022-09-06 06:26] bhoomikav16 opened #4900 "[SB] Questionnaires > Duplicate questionnaires are created in the study builder"
Questionnaires > Duplicate questionnaires are created in the study builder for the following study
Study name - StandaloneNewApp
Study ID - StandaloneNewAp

![Question](https://user-images.githubusercontent.com/86007179/188561717-0145ea79-6573-435c-9b9a-8b5969b05066.png)

[2022-09-06 06:49] nishit-v opened #4901 "[Auth] Signup email > Support email address is not updated in resend verification code flow"
**Steps:**
1. Install mobile app
2. Signup. Support email is updated in email body
3. Click on 'Resend verification code'
4. Observe the email body

**Actual:** Support email address is displayed as `{{supportEMail}}` in resend verification code flow

**Expected:** Support email added in SB manage apps section should be displayed

![Screenshot_3](https://user-images.githubusercontent.com/60386291/

[2022-09-06 06:53] nishit-v commented on #4901
Same issue was raised earlier in 2.0.8 - https://github.com/GoogleCloudPlatform/fda-mystudies/issues/4177

[2022-09-06 07:47] Madhud5 commented on #4272
Hi @Lathan-btc please check in DEV instance and let me know.

[2022-09-06 07:50] Shashank-btc commented on #4898
Hi @bhoomikav16

Scenario 1:
we need a device because this is device specific issue we con't able to reproduce in own device.

Scenario 2:
This push notification is triggering by the device we don't have any controll over there.

Thanks

[2022-09-06 08:02] bhoomikav16 opened #4902 "[SB] Questionnaires / Active tasks > Screen is loading continuously when clicked on Questionnaires / Active tasks section"
Questionnaires / Active tasks > Screen is loading continuously when clicked on Questionnaires / Active tasks section in the study builder

![blocker](https://user-images.githubusercontent.com/86007179/188580150-45bcbfaf-0009-4d29-895b-7c56ca57f6cb.png)

[2022-09-06 08:16] Lathan-btc opened #4903 "[FHIR store] [Questionnaire response] Questionnaires > Question step > text choice > multiple select > All the answer options are not getting stored in the FHIR store in the following scenario"
Steps:
1. SB > Create/edit study > create a text choice question with multiple select options ('Other ' option should not be marked as exclusive)
2. launch or publish the updates
3. Sign up or sign in to the mobile app
4. Enroll to the study
5. Click on a created activity in step 1
6. Select all the possible options with 'other' options and submit the response
7. Go to the FHIR store and observe

[2022-09-06 08:18] Lathan-btc commented on #4272
Issue is fixed in the latest Dev instance

[2022-09-06 10:05] bhoomikav16 commented on #4902
Issue is fixed in the latest dev instance

[2022-09-06 10:06] bhoomikav16 commented on #4900
Issue is fixed in the latest dev instance

[2022-09-06 12:17] Lathan-btc commented on #4889
Issue is fixed in the latest iOS dev build

[2022-09-06 14:00] Lathan-btc commented on #4896
Issue is fixed in the latest iOS dev build

[2022-09-06 14:30] Lathan-btc commented on #4890
Issue is fixed in the latest iOS Dev instance

[2022-09-06 14:43] Lathan-btc commented on #4903
Issue is fixed in the latest Dev instance

[2022-09-06 14:49] Lathan-btc opened #4905 "[FHIR store] Questionnaire response > Text choice > Single select > Answer option is not getting displayed when participant selects 'Other' answer option"
Steps:
1. SB> Add/edit questionnaire > Add text choice questionnaire with 'Other' option and single select
2. Launch or publish the updates
3. Sign up or sign in to the mobile app
4. Enroll to the study
5. Submit the response by selecting the 'Other' answer option
6. Go to the FHIR store and observe

AR: 'Other' answer option is not getting stored in the FHIR store
ER: 'Other' answer option should

[2022-09-07 07:05] nishit-v commented on #4880
Issue is fixed in latest QA iOS build V3.0 155

[2022-09-07 07:34] nishit-v opened #4907 "[iOS] Responses are not getting synced if user submits multiple study activities in offline (Refer scenarios)"
**Scenario 1:** Study activities which are submitted in offline are not synced

**Steps:**
1. Login and enroll into a study
2. Open any study activity 1
3. Switch off the internet connection
4. Submit the response
5. Switch on the internet connection
6. Again open any other study activity 2
7. Switch off the internet connection
8. Submit the response
9. Switch on the internet connection and wait >

[2022-09-07 07:37] Lathan-btc opened #4908 "[iOS] Study resources screen > Source anchor date related resources are not getting displayed in the study resources screen"
Description:

Precondition :
1. Source question should be added by using the date response type
2. Source anchor date related resources should be added in the SB

Steps:
1. Sign up or sign in to the mobile app
3. Enroll to the study
4. Submit the source question
5. Go to the resources screen and Observe (all the anchor date resources are getting displayed)
6. Go to SB, add a new resource in the SB

[2022-09-07 08:41] Lathan-btc opened #4909 "[iOS] [Offline indicator] Offline feature is not working in the following scenario"
**Description**

**Pre_condition:** The testing device should connect to WiFi

**Steps:**
1. Install the mobile app on the testing device
2. Turn off the main data (Don't turn off the WI-FI of the testing device)
3. Observe

**AR:** Offline indicator feature is not working
**ER:** Offline indicator feature should work as per expected in the above scenario

Note: Issue is not observed in android

[2022-09-07 11:26] Lathan-btc opened #4910 "[iOS] Mobile participant is not able to complete their sign up flow in the following scenario"
**Steps:**
1. Install the mobile app in the testing device
2. Go to sign in screen
3. Click on the Signup button
4. Enter all the required fields and click on submit
5. Enter the received verification code
6. Observe

**AR:** Sign in not available error page is getting displayed
**ER:** Mobile users should be able to sign up for their account successfully

Note: if the user goes back to sign in sc

[2022-09-07 11:26] nishit-v opened #4911 "[Mobile apps] Sign in screen > All the text fields, buttons, hyperlinks in sign in screen are displayed in smaller size in higher screen size devices"
Steps:
1. Install the app (android or iOS) on devices having at least> 5.5 inch screen size
2. Navigate to signin screen
3. Observe the text fields, buttons, and hyperlinks

Note: Issue not observed in smaller screen size devices eg. iPhone SE 2nd gen

Refer screenshots for the below devices:

iOS - iPhone XS Max (6.46" screen size)
![Image_20220907_162331_114](https://user-images.githubuserconten

[2022-09-07 12:29] Lathan-btc opened #4912 "[IOS] [Standalone] Updated consent is not getting displayed in the following scenario"
**Description**

**Pre-condition:** Study should be created with Comprehension test questions in the Study builder and the study should be launched

**Steps:**
1. Sign up or sign in to the mobile app
2. Enroll to the study
3. Go to the study builder and update the consent for enrolled participants
4. Go to the mobile app, click on the review consent pop up
5. Navigate to the comprehension test scr

[2022-09-07 12:47] nishit-v opened #4913 "[iOS] Force upgrade > Force upgrade/Optional upgrade screens are displayed in mobile if app build version is lesser than or equal to installed version"
**Steps:**
1. Install the iOS app. Let app version by V3.0.151
2. Login to SB and navigate to Manage apps
3. Edit the particular app and navigate to developer configurations
4. Enter `Latest XCode app version` as 3 and `Latest app build version` ≤ 151 (Eg. 150 or 151 etc)
5. Publish the updates
6. Open the app and observe

**Actual:** Force upgrade/Optional upgrade screens are displayed in mobile

[2022-09-07 15:24] Lathan-btc commented on #4893
Issue is fixed in the latest iOS dev build

[2022-09-07 15:27] Lathan-btc commented on #4792
Issue is fixed in the latest iOS dev build

[2022-09-07 15:44] Lathan-btc commented on #4886
Issue is again observed in the iOS device, User got session expired at 09:12 PM - Sep 07 2022

[2022-09-08 05:34] GovindPrasadBostonTechnologyCorporation commented on #4913
Hello team,
In Manage apps version in number should be entered exact format as given in Xcode version part. For example 3 and 3.0 are different version number.

Thank you,
Govind

[2022-09-08 05:50] nishit-v commented on #4913
Closing as per above comment. XCode version 3.0 is not same as 3. Working fine now if admin enter 3.0 in SB if 3.0 is entered in build generating process.

[2022-09-08 05:50] #4913 closed

[2022-09-08 06:47] Madhud5 commented on #4911
Hi @nishit-v please check and confirm. thanks

[2022-09-08 06:50] nishit-v commented on #4911
Issue is still reproducible in Mobile apps - dev instance

[2022-09-08 08:07] Madhud5 commented on #4911
Hi @nishit-v please check and confirm.
here Please note we cant increase the size's because it will other issues.
thanks

[2022-09-08 08:13] nishit-v commented on #4911
Issue is not fixed still. Cleared browser cache and reverified again in both Android and iOS. No difference is observed between screenshot attached earlier and taken now.

![IMG_3350](https://user-images.githubusercontent.com/60386291/189071040-b0658965-1a80-467e-9ac2-57964f4e7d31.PNG)

[2022-09-08 09:13] nishit-v commented on #4911
Only Hyperlinks like `Forgot password?`, `Sign up` size is increased but still layout of signin screen remains same. Attaching screenshot of old signin screen.
![IMG_3352](https://user-images.githubusercontent.com/60386291/189084059-95e670ae-5113-460e-8887-0d7729616f33.PNG)

[2022-09-08 14:04] nishit-v commented on #4911
Issue is fixed in the latest Dev instance.

[2022-09-09 06:33] nishit-v commented on #4907
Issue is fixed in latest QA iOS dev build V3.0.159

[2022-09-09 06:33] nishit-v commented on #4880
Issue is again reproducible in latest QA iOS dev build V3.0.159

[2022-09-09 06:50] nishit-v commented on #4892
Issue is reproducible again for Closed and Combined studies. Verified in 3.0(159)

[2022-09-09 07:56] nishit-v commented on #4901
Issue is fixed in latest dev instance.

[2022-09-09 08:35] nishit-v commented on #4880
Issue is fixed in latest QA iOS build V3.0.162

[2022-09-09 08:37] nishit-v commented on #4907
Issue is again reproducible in latest QA V3.0.162

[2022-09-09 12:34] GovindPrasadBostonTechnologyCorporation commented on #4909
Hello team,
1)This as informed is happening when the hotspot is on device 1 and app is installed in device2.
 a)If internet is turned off in device 1 without disconnecting hotspot then the device 2 reachability class will consider this scenario as no internet change i.e internet is present. 
b)In this scenario, as there is no connection change in device 2, the app will consider it as internet pres

[2022-09-09 12:50] amruthbtc commented on #4892
Issue fixed in 3.0 (163)

[2022-09-09 14:11] #4602 closed

[2022-09-09 14:36] Lathan-btc commented on #4910
@harisboston Issue is reproducible in the latest Dev instance

[2022-09-10 04:37] amruthbtc commented on #4897
activityRunId required as url param in "/participant/getresponse?" api

[2022-09-12 05:14] akashkumarv3 commented on #4897
Hi, from backend it is fixed and activityRunId is added  as url param in "/participant/getresponse?" api.

[2022-09-12 05:51] nishit-v commented on #4892
Issue is fixed in V3.0 (163) but not fixed in latest build V3.0(164)

[2022-09-12 06:20] nishit-v commented on #4897
Issue is fixed for study activities(Questionnaires and Active tasks) but not fixed for Resources. Verified in iOS build V3.0.164

Steps:

1. Create a source questionnaire from SB
2. Create a target based resources and publish
3. From mobile answer a source questionnaire
4. Resources displayed in the list
5. Logout and login with same user credentials
6. Observe target resources disappears

Actual

[2022-09-12 06:28] nagarjunav1 commented on #4897
Issue is observed for Resources now in Android. Verified in Android build v1.0(205)

Steps:

Create a source questionnaire from SB
Create a target based resources and publish
From mobile answer a source questionnaire
All the new target resources are not displayed in the list

Actual result: All the new source based resources are not displaying in resources screen
Expected result: Anchor date based

[2022-09-12 06:49] Lathan-btc commented on #4908
Issue is reproducible in the latest iOS Dev build

[2022-09-12 08:24] nagarjunav1 commented on #4898
Issue will be tested once #4897 is fixed

[2022-09-12 13:06] harisboston commented on #4886
From auth-server logs, I can see null, while getting the refresh token from ORY Hydra.
Looks like network issue or token got expired. Will keep this issue under observation.

[2022-09-13 08:24] nishit-v commented on #4908
Issue is fixed in latest Dev iOS build V3.0 (170)

[2022-09-13 08:25] nishit-v commented on #4897
Issue is fixed in latest Dev iOS build V3.0 (170)

[2022-09-13 08:25] nishit-v commented on #4892
Issue is fixed in latest Dev iOS build V3.0 (170)

[2022-09-13 12:03] nagarjunav1 commented on #4897
Issue is fixed now in latest build v1.0(205)

[2022-09-13 12:54] GovindPrasadBostonTechnologyCorporation commented on #4907
Hello team,
The backend server is failing in this scenario and error logs are recorded by Harris.

[2022-09-13 13:20] bhoomikav16 opened #4927 "[PM] Participants details screen > Consent history > Text case issue"
Participants details screen > Consent history > Text case issue,

**AR:**  Text in 'Data sharing permissions' is getting displayed as Not Applicable and Not Provided
**ER:**  Text in 'Data sharing permissions' should get displayed as Not applicable and Not provided

**1.**
![image](https://user-images.githubusercontent.com/86007179/189911517-a010a0ae-b9cf-413d-9857-3c465d069dc7.png)

**2.**
![imag

[2022-09-13 13:21] GovindPrasadBostonTechnologyCorporation commented on #4910
Hello team,
Keeping this issue under observation. Please report when seen again

[2022-09-14 05:42] nishit-v commented on #4910
Issue is not intermittent and reproducible consistently in below scenario:

**Steps:**

1. Install the mobile app in the testing device
2. Go to sign in screen
3. Click on the Signup button
4. Enter all the required fields and click on submit
5. Enter the received verification code
6. Observe

**Note: Issue is not reproducible if user directly navigates to signup from app overview screen**

[2022-09-14 07:39] nishit-v commented on #4907
Issue is still reproducible in latest Dev instance and latest iOS dev build V3.0.170. Above 2 scenarios are reproducible.

[2022-09-14 08:01] Lathan-btc opened #4929 "[FHIR] Questionnaire responses > Response records are not getting created in the FHIR store"
Steps:
1. Sign up or sign in to the mobile app
2. Enroll to the study or click on enrolled study
3. Submit the responses for the activities
4. Go to the eFHIR store
5. Go to the Questionnaire responses and observe

AR: Questionnaire responses > Responses records are not getting created in the FHIR store
ER: Response records should get created in the FHIR store

[2022-09-14 08:01] bhoomikav16 opened #4930 "[Mobileapps] Getting an error message in consent signature screen in enrollment flow"
**Steps:**
1. Sign in / Sign up
2. Click on any study, Complete the eligibilty flow
3. Navigate to consent signature , Click on 'Next' button and Verify

**AR:** Getting an error message in consent signature screen in enrollment flow
**ER:** Enrollment flow should be completed by the participant without any error's

![Screenshot_20220914-132943_FDA MyStudies](https://user-images.githubusercontent.

[2022-09-14 08:11] bhoomikav16 commented on #4927
Issue will be tested once #4930 is fixed in the latest dev instance

[2022-09-14 08:45] Shashank-btc commented on #4898
Hi,

Local notifications will be triggered dependes on the anchor date, when user navigate to resources screen (StudyLevel).
When user logs out and and logs in all the notification will trigger again, if there is any anchor data related resources.

Thanks

[2022-09-14 09:43] nagarjunav1 commented on #4898
Issue is fixed now in the latest Android build v1.0(206)

[2022-09-14 09:55] bhoomikav16 commented on #4930
Issue is still reproducing in the latest dev instance

[2022-09-14 10:53] Lathan-btc commented on #4929
Issue is fixed in the latest Dev instance

[2022-09-14 12:53] bhoomikav16 commented on #4930
Issue is fixed in the latest dev instance

[2022-09-14 13:18] bhoomikav16 commented on #4927
Issue is reproducing in the latest dev instance

[2022-09-14 13:19] nishit-v commented on #4910
Issue is fixed in latest iOS dev build V3.0(173)

[2022-09-14 13:29] Lathan-btc commented on #4905
@harisboston

The highlighted value should be displayed in the FHIR JSON file

![image](https://user-images.githubusercontent.com/71445210/190166444-d186e4b6-321e-466c-981e-e67e3c4e9f02.png)

Displayed value in the JSON ( value in the 'Display value' field is getting displayed in the JON )

![image](https://user-images.githubusercontent.com/71445210/190167078-f18c9311-16c0-45d2-9fdc-312e2825c905.p

[2022-09-14 14:13] nagarjunav1 commented on #4887
Issue is fixed now in the latest build v1.0(170)

[2022-09-14 15:04] Lathan-btc opened #4933 "[PM] [VAPT] Sign in Screen > UI issue"
Sign in Screen > UI issue > 'Sign in' text is splitted into 2 lines

![image](https://user-images.githubusercontent.com/71445210/190192448-60c31792-b0db-429c-ac2b-b16521261f5e.png)

[2022-09-14 15:27] bhoomikav16 opened #4934 "[VAPT] [SB] My account section is not available in the study builder"
My account section is not available in the study builder

**Note:** Issue needs to be fixed in welcome screen also

![Myaccount](https://user-images.githubusercontent.com/86007179/190197208-079a9caa-7efb-4151-ae46-d10dab12fc8c.png)

[2022-09-14 15:36] bhoomikav16 opened #4935 "[VAPT] [SB] Edit admin > 'ACTIVATE / DEACTIVATE' toggle button is not aligned properly"
Edit admin > 'ACTIVATE / DEACTIVATE'  toggle button is not aligned properly, Alignment should be as per the design document

![admin](https://user-images.githubusercontent.com/86007179/190199009-ec8313d1-f4b5-453c-9cac-d2683d1178bd.png)

[2022-09-14 15:46] bhoomikav16 opened #4936 "[VAPT] [SB] Add / Edit admin > Select and add studies dropdown > Two scrollbars are getting displayed in the dropdown"
Add / Edit admin > Select and add studies dropdown > Two scrollbars are getting displayed in the dropdown

![edit](https://user-images.githubusercontent.com/86007179/190201204-333d262b-e616-402b-ac6a-5381a21d11e0.png)

[2022-09-14 15:56] bhoomikav16 opened #4937 "[VAPT] [SB] Notifications section > Create / Edit notification screen > UI Issue"
Notifications section > Create / Edit notification screen > UI Issue

**AR:** All the dropdown fields are not aligned properly
**ER:** All the dropdown fields should be aligned properly

**1.**
![N3](https://user-images.githubusercontent.com/86007179/190202884-48d603f9-7381-493d-afbf-800bb901ef11.png)

**2.**
![N2](https://user-images.githubusercontent.com/86007179/190202576-77f51cfe-db55-4322-b5e

[2022-09-14 16:10] Lathan-btc opened #4938 "[PM] [VAPT] Add location screen > UI issue"
Add location screen > UI issue > Back arrow mark should be aligned properly

![image](https://user-images.githubusercontent.com/71445210/190206102-e19c0bd0-4dac-4dd8-988b-d21c7725f29f.png)

[2022-09-15 07:48] bhoomikav16 opened #4939 "[VAPT] [SB] Create / Edit Studies > Study Information screen > UI Issue"
Create / Edit Studies > Study Information screen > UI Issue is observed , UI of study information screen should be according to the design document

![11](https://user-images.githubusercontent.com/86007179/190370860-8c4cd141-3083-4a13-aad7-91fa839fb6cc.png)

![si](https://user-images.githubusercontent.com/86007179/190345846-1f9712ba-e8b2-427e-8f89-8deb8236c589.png)

[2022-09-15 07:55] bhoomikav16 opened #4940 "[VAPT] [SB] Create / Edit Studies > Study overview screen > UI Issue"
Create / Edit Studies > Study overview screen > UI Issue

**AR:**
 ![Overview](https://user-images.githubusercontent.com/86007179/190346948-795769fc-c1f9-47eb-a9f4-2a9e89ddbad7.png)

**ER:** By default first page in the overview screen should be available for the admins
![Untitled](https://user-images.githubusercontent.com/86007179/190347737-23cd7057-8922-4f01-9759-70749fc6ac91.png)

[2022-09-15 07:55] GovindPrasadBostonTechnologyCorporation opened #4941 "[iOS] Enrollment flow/updated consent flow > Review consent screen > Study name is not getting displayed for the Custom consent"
1)Study name is not getting displayed for the Custom consent
2)Pdf is generated without study name

[2022-09-15 08:03] bhoomikav16 opened #4944 "[VAPT] [SB] Create / Edit Studies > Issues in 'Eligibility' section"
Create / Edit Studies > Issues in 'Eligibility' section

1. Response options are not getting displayed
2. UI is not according to the design document

**1.**
![e2](https://user-images.githubusercontent.com/86007179/190348836-5ab23365-21bd-40da-b8e7-52a901502b9c.png)

**2.**
![Eligiblity](https://user-images.githubusercontent.com/86007179/190348426-fdef2741-a79d-45d6-bc45-b34a8d4816aa.png)

[2022-09-15 08:19] bhoomikav16 opened #4945 "[VAPT] [SB] Create / Edit Studies > 'Consent' section > Add consent section > Topic > UI Issue in the dropdown"
Create / Edit Studies > 'Consent' section > Add consent section > Topic > UI Issue in the dropdown

**ER:** Dropdown and also the UI of consent screens should be according to the design document

![C1](https://user-images.githubusercontent.com/86007179/190352684-54212f9c-9ff4-4f6b-82c2-31474340fdf2.png)

[2022-09-15 08:32] bhoomikav16 opened #4946 "[VAPT] [SB] Create / Edit Studies > 'Comprehension Test' section > Add comprehension test question section > Answer options are not aligned properly"
Create / Edit Studies > 'Comprehension Test' section > Add comprehension test question screen > Answer options are not aligned properly

![comp](https://user-images.githubusercontent.com/86007179/190353653-6e4624e2-7d1d-4a45-93f2-d8c69985e82a.png)

[2022-09-15 08:36] bhoomikav16 opened #4947 "[VAPT] [SB] Create / Edit Studies > 'Resources' section > Add / Edit resources screen > Fields are not aligned properly"
Create / Edit Studies > 'Resources' section > Add / Edit resources screen > Fields are not aligned properly

![r1](https://user-images.githubusercontent.com/86007179/190356020-52e6e513-8d32-494c-9b28-9861f8c7c7b9.png)

[2022-09-15 08:49] bhoomikav16 opened #4948 "[VAPT] [SB] Questionnaires / Active tasks > Schedule screen > UI Issue"
Questionnaires / Active tasks > Schedule screen > UI Issue,
1. Fields are not aligned properly in the schedule screen
2. Issue is observed for all the scheduling option
3. Issue is observed for both questionnaires and active task section

![s1](https://user-images.githubusercontent.com/86007179/190359283-959d42e0-55ae-423f-8543-247b902b483e.png)

[2022-09-15 08:52] Lathan-btc opened #4949 "[PM] [VAPT] Red color disable icon should get displayed when admin mouse hovered on the disabled fields"
Red color disable icon should get displayed when the admin mouse hovered on the disabled fields

1. Participant details screen > Enrolled users > Enable invitation and Disable invitation
2. Forgot Password screen
3. My account screen

[2022-09-15 09:10] bhoomikav16 opened #4950 "[VAPT] [SB] Manage Apps > Edit app > Spelling mistakes in Action screen"
**Steps:**
1. Edit the app.
2. Navigate to Action section.
3. Observe the text below the Mark iOS app as distributed button and Mark Android app as distributed button.

**AR:** Distributed spelling is displaying as 'distrbuted' for both Mark iOS app as distributed and Mark Android app as distributed for on-screen text under the buttons.
**ER:** Distributed spelling should be displayed as 'distribu

[2022-09-15 09:24] bhoomikav16 opened #4951 "[VAPT] [SB] UI Isssue in all the screens of the study builder"
1. All the text fonts should be same as per the requirements
2. Tool tip text font should be same as per the requirements
3. Alignment should be proper throughtout the application
4. Spacing is more in between the two fields

**Note:** Issue needs to be fixed throughout the application

![ui1](https://user-images.githubusercontent.com/86007179/190366696-928059e0-f8fc-4478-b365-cf63c50a5c4d.png)

!

[2022-09-15 09:29] bhoomikav16 opened #4952 "[VAPT] [SB] Questionnaires > Add / Edit Questionnaires > Add / Edit question step / form step > UI Issue"
Questionnaires > Add / Edit Questionnaires > Add / Edit question step / form step > UI Issue

**Value picker response type**
![Vp](https://user-images.githubusercontent.com/86007179/190368474-393ef133-3fb4-4ae6-a0a7-7f4f0e1ee47b.png)

![q2](https://user-images.githubusercontent.com/86007179/190368590-ee09bfbd-5069-462c-83ee-b5a51c9b80e6.png)

[2022-09-15 09:32] bhoomikav16 opened #4953 "[VAPT] [SB] My account screen > UI Issue"
My account screen > UI Issue

![my](https://user-images.githubusercontent.com/86007179/190369320-e582dced-8b06-4ac8-9cd4-682cf1da1ffc.png)

[2022-09-15 11:48] amruthbtc commented on #4905
@Lathan-btc Issue fixed in ios build 3.0 (174)

[2022-09-15 12:20] Madhud5 commented on #4933
Hi @Lathan-btc please check and let me know. thanks

[2022-09-15 12:40] Lathan-btc commented on #4905
Issue is fixed in the latest iOS dev build.

[2022-09-15 12:41] bhoomikav16 commented on #4905
Issue is fixed in the latest android dev build 1.0(208)

[2022-09-15 12:51] Lathan-btc commented on #4941
Issue is fixed in the latest iOS Dev build 3.0(174)

[2022-09-15 12:56] bhoomikav16 opened #4959 "[VAPT] [SB] E-consent steps > Consent document > Mark as completed success message is getting displayed in the data sharing permission screen"
**Steps:**
1. Edit the study
2. Navigate to 'E-consent steps' section
3. Go to 'Consent document' screen
4. Click on 'Mark as completed' button and Verify

**AR:**  Mark as completed success message is getting displayed in the 'Data sharing permission' screen
**ER:**  Mark as completed success message should get displayed on 'Consent document' screen

[screen-capture (95).webm](https://user-images

[2022-09-15 13:21] Lathan-btc opened #4960 "[SB] [VAPT] Add/edit questionnaire > Unable to add/edit and update/delete the questionnaires"
Steps:
1. Sign in to the Study builder
2. Navigate to the Studies list screen
3. Click on create/edit study
4. Go to the Questionnaires
5. Add form step questions
6. Try to delete

AR: Unable to add/edit and update/delete the questionnaires and getting continuous loading
ER: Admins should be able to add/edit and update/delete the questionnaires

[2022-09-15 13:33] Lathan-btc opened #4961 "[PM] Sign in screen > 'User not found' error message is getting displayed in the following scenario"
Steps:
1. Login to PM as Superadmin
2. Go to the Admins
3. Deactivate the active admin
4. Sign out
5. Try to sign in with the deactivated admin credential
6. Observe

AR: 'User not found' error message is getting displayed
ER: 'Your account has been deactivated' error message should get displayed in the above scenario

[2022-09-16 11:18] nagarjunav1 opened #4962 "[SB] Regex is not working as configured for 'Text' responce type"
**Steps**:-
1. Configure the activity with 'Text' responce type as shown in attached Image
2. Publish the updates for the study
3. Install and open the mobile app
4. Enroll into the study which is configured from SB
5. Navigate to the Activity list and open the activity which is configured in step-1
6. Try to enter period(.) symbol and click on Next button
7. Observe the app behaviour

**A/R:**- P

[2022-09-16 13:25] nagarjunav1 opened #4963 "[Android][Branching] User will able to submit the responce for the other questions which are not related to the branching in a scenario"
Steps:-
1. Navigate to Questionnaries
2. Add a new questionnarie
3. Configure the questionnarie as shown in image 1 & image 2
4. Apply internal branching for the same questionnarie based on user input
5. Publish the study
6. Open the same questionnarie in mobile and submit the responces as shown in the attached video

A/R:- Participant is able to answer the questions, which are not related to bran

[2022-09-16 14:16] bhoomikav16 opened #4964 "[Android] App is crashing when navigated to 'Dashboard' screen"
**Steps:**
1. Sign in / Sign up
2. Enroll to the study
3. Navigate to 'Dashboard' and Verify

**AR:** App is crashing when navigated to 'Dashboard' screen
**ER:** App should not crash , when navigated to 'Dashboard' screen

https://user-images.githubusercontent.com/86007179/190660139-81733c7c-0c1e-405d-94a0-fc4853a7e7c2.mp4

[2022-09-16 14:57] bhoomikav16 opened #4965 "[Android] Eligibilty screens are getting displayed in the mobile app in the following scenario"
**Steps:**
1. In SB, Edit the study which was enrolled by the participant in the mobile app
2. Update 'Enforce e-consent flow' again for enrolled participants and Publish the study
3. Now go back to mobile app
4. Click on 'Get started' button in the mobile app
5. Click on the study which was already enrolled and made changes from the SB
5. Click on 'Participate' button and Sign in to the app
6. Cl

[2022-09-19 06:06] Madhud5 commented on #4934
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 06:07] Madhud5 commented on #4935
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 06:07] Madhud5 commented on #4936
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 06:07] Madhud5 commented on #4944
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 06:08] Madhud5 commented on #4946
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 06:08] Madhud5 commented on #4950
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 06:49] Madhud5 commented on #4940
Hi @bhoomikav16 Please check and close this issue.

[2022-09-19 07:08] bhoomikav16 commented on #4934
Issue is still reproducing in the 'Welcome' screen

[2022-09-19 07:10] bhoomikav16 commented on #4950
Issue is fixed in the latest VAPT branch

[2022-09-19 07:16] bhoomikav16 commented on #4935
Issue is fixed in the latest dev instance

[2022-09-19 07:29] bhoomikav16 commented on #4936
Issue is still reproducing in the latest VAPT dev instance

[2022-09-19 07:33] bhoomikav16 commented on #4940
Issue is still reproducing in the latest VAPT dev instance

[2022-09-19 07:36] bhoomikav16 commented on #4944
Issue is fixed in the latest VAPT dev instance

[2022-09-19 07:39] bhoomikav16 commented on #4946
Issue is still reproducing in the latest VAPT dev instance

![re](https://user-images.githubusercontent.com/86007179/190970583-50fbe371-9143-419d-83ac-8acfc0a47d6d.png)

[2022-09-19 07:52] Madhud5 commented on #4937
Hi @bhoomikav16 here Datetimepicker plugins width fetching from library so where manual customize wont allow. other width part for select fixed. please check and close thanks

[2022-09-19 08:07] Madhud5 commented on #4936
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 08:13] Madhud5 commented on #4940
Hi @bhoomikav16 Please check and close this issue.

[2022-09-19 08:14] Madhud5 commented on #4934
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 08:15] Madhud5 commented on #4953
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 08:15] Madhud5 commented on #4952
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 08:17] Madhud5 commented on #4950
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 08:20] bhoomikav16 commented on #4934
Issue is still reproducing in the 'Welcome' screen

[2022-09-19 08:24] bhoomikav16 commented on #4953
Issue is fixed in the latest VAPT branch

[2022-09-19 08:29] bhoomikav16 commented on #4936
@Madhud5  Dropdown is not getting displayed in the 'Select and add apps ' field

[2022-09-19 08:33] bhoomikav16 commented on #4940
Issue is fixed in the latest VAPT dev instance

[2022-09-19 08:38] bhoomikav16 commented on #4952
Issue is still reproducing in the latest VAPT dev instance

[2022-09-19 09:50] Madhud5 commented on #4949
Hi @Lathan-btc please check and close the issue.
thanks

[2022-09-19 09:50] Madhud5 commented on #4938
Hi @Lathan-btc please check and close the issue.
thanks

[2022-09-19 10:28] bhoomikav16 commented on #4964
Issue is fixed in the latest dev build 1.0(209)

[2022-09-19 10:28] bhoomikav16 commented on #4965
Issue is fixed in the latest dev build 1.0(209)

[2022-09-19 10:58] Lathan-btc commented on #4949
Issue is fixed in the latest VAPT branch

[2022-09-19 10:59] Lathan-btc commented on #4938
Issue is fixed in the latest VAPT branch

[2022-09-19 11:22] nishit-v commented on #4886
Issue is reproducible again for multiple users.

[2022-09-19 11:33] Madhud5 commented on #4951
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:35] Madhud5 commented on #4948
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:35] Madhud5 commented on #4947
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:36] Madhud5 commented on #4936
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:37] Madhud5 commented on #4952
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:39] Madhud5 commented on #4946
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:39] Madhud5 commented on #4945
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:40] Madhud5 commented on #4939
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:41] Madhud5 commented on #4934
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 11:45] Madhud5 commented on #4960
Hi @harisboston and @akashkumarv3 its also not working in Dev env please check

[2022-09-19 11:51] bhoomikav16 commented on #4936
Issue is fixed in the latest VAPT dev branch

[2022-09-19 11:55] bhoomikav16 commented on #4939
Issue is still reproducing in the latest VAPT dev instance

![image](https://user-images.githubusercontent.com/86007179/191011572-e6df294d-150b-4067-af99-c1a8c0ca6f79.png)

[2022-09-19 11:57] bhoomikav16 commented on #4952
Issue is fixed in the latest VAPT dev instance

[2022-09-19 12:08] bhoomikav16 commented on #4947
Issue is still reproducing in the latest VAPT dev branch
![r2](https://user-images.githubusercontent.com/86007179/191013752-ceb64e0c-f189-4795-a42d-3bc29d0516e2.png)
![resourcesnew](https://user-images.githubusercontent.com/86007179/191013786-23c36c67-0b8a-4fc0-b2cc-9af5c771f25a.png)

[2022-09-19 12:11] bhoomikav16 commented on #4945
Issue is fixed in the latest VAPT dev instance

[2022-09-19 12:14] bhoomikav16 commented on #4946
Issue is fixed in the latest VAPT dev branch

[2022-09-19 12:17] bhoomikav16 commented on #4934
Issue is fixed in the latest VAPT dev branch

[2022-09-19 12:32] bhoomikav16 commented on #4948
Issue is still reproducing in the latest VAPT dev instance

[2022-09-19 12:56] bhoomikav16 commented on #4937
Based on the above comment, Issue is fixed in the latest VAPT dev instance

[2022-09-19 12:57] bhoomikav16 commented on #4951
Issue is still reproducing in the latest VAPT dev instance

[2022-09-19 13:38] Madhud5 commented on #4939
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-19 15:13] nagarjunav1 commented on #4963
Issue is fixed in latest Dev build v1.0(210)

Disabled the device back button in completion screen

[2022-09-19 15:32] bhoomikav16 commented on #4939
Issue is still reproducing in the latest VAPT dev instance

[2022-09-20 03:31] Madhud5 commented on #4948
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-20 04:05] akashkumarv3 commented on #4960
@Madhud5 Hi Madhu ,

It's not backend issue its bootstrap issue, please check once  .

DevTools failed to load source map: Could not load content for https://studies.btcsoft-dev.boston-technology.com/studybuilder/vendor/boostrap/bootstrap.min.css.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2022-09-20 04:18] Madhud5 commented on #4947
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-20 04:18] Madhud5 commented on #4939
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-20 05:18] bhoomikav16 opened #4966 "[VAPT] [SB] Create / Edit study > Study Information > Study type field is getting displayed in the study information screen"
**AR:** Create / Edit study > Study Information > Study type field is getting displayed in the study information screen
**ER:** Create / Edit study > Study Information > Study type field should not get displayed in the study information screen

![study](https://user-images.githubusercontent.com/86007179/191173260-bc5b78f8-1bf3-470c-b9f0-44bb85fb2614.png)

[2022-09-20 05:19] Madhud5 commented on #4951
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-20 05:37] bhoomikav16 commented on #4947
Issue is fixed in the latest VAPT dev instance

[2022-09-20 05:42] nishit-v opened #4967 "[VAPT] [SB] Hand cursor icons should be displayed for all radio buttons and checkboxes through out the application when mouse hovered"
A/R: Hand cursor icons are not displayed for any of the radio buttons or checkboxes through out the application when mouse hovered

E/R: Hand cursor icons should be displayed for all radio buttons and checkboxes through out the application when mouse hovered

Eg.
![SB](https://user-images.githubusercontent.com/60386291/191176336-fa84c5fd-7a88-4349-a317-07464b07b104.png)

[2022-09-20 05:44] bhoomikav16 opened #4968 "[VAPT] [SB] Manage apps > Create / Edit app > UI Issue > Studies tab is getting highlighted in manage apps section"
Manage apps > Create / Edit app > UI Issue > Studies tab is getting highlighted in manage apps section

![sb](https://user-images.githubusercontent.com/86007179/191176576-b0eacff1-43a7-4abd-9016-26691eea5e9e.png)

[2022-09-20 05:51] bhoomikav16 opened #4969 "[VAPT] [SB] Studies > UI Issue in the 'Filter by apps' dropdown"
Studies > UI Issue in the 'Filter by apps' dropdown i.e., There is no outline border getting displayed in the dropdown and also no separtaion of all apps and app values

![UI](https://user-images.githubusercontent.com/86007179/191177448-70b56caf-0dce-481d-aba0-9507d61c9a68.png)

[2022-09-20 06:51] bhoomikav16 commented on #4948
Issue is still reproducing in the latest VAPT dev instance

[2022-09-20 07:08] bhoomikav16 commented on #4939
Issue is fixed in the latest VAPT dev instance

[2022-09-20 07:20] Lathan-btc opened #4970 "[PM] Admin details screen > UI issue"
Admin details screen > UI issue  > Reduce the gap between the search bar and selected apps

![image](https://user-images.githubusercontent.com/71445210/191192632-f643db8e-e410-44f1-a5f4-eccf91210503.png)

[2022-09-20 07:37] Lathan-btc opened #4971 "[PM] Edit admin details screen > Deactivated admins > UI issue"
Edit admin details screen > Deactivated admins > UI issue
1. there should be a little gap between the title and placeholder
2. Place holder text should be center aligned to the grayed out area
3. Disabled icon should get displayed when the admin mouse hovered on the dropdown

![image](https://user-images.githubusercontent.com/71445210/191196037-44fdaf44-c376-4125-8f14-61b91913a3ac.png)

[2022-09-20 08:44] Madhud5 commented on #4966
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-20 08:44] Madhud5 commented on #4969
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-20 08:44] Madhud5 commented on #4967
Hi @nishit-v  please check and close the issue.
thanks

[2022-09-20 08:50] nishit-v commented on #4967
Issue is fixed in latest Dev instance in VAPT branch.

[2022-09-20 10:26] bhoomikav16 commented on #4966
Issue is fixed in the latest VAPT dev instance

[2022-09-20 10:30] bhoomikav16 commented on #4969
Issue is fixed in the latest VAPT dev instance

[2022-09-20 11:31] bhoomikav16 commented on #4951
Issue is fixed in the latest VAPT dev instance

[2022-09-20 17:58] Madhud5 commented on #4970
Hi @Lathan-btc please check this issue.
thanks

[2022-09-21 04:45] harisboston commented on #4886
In ORY Hydra, by default refresh token will expire after 720h.
Added logger in getToken/refresh token in auth server to analyze further, @nishit-v please update the time if issue will occur again.
Thanks

[2022-09-21 05:52] Lathan-btc commented on #4970
Issue is fixed in the latest Deployment

[2022-09-21 06:05] Lathan-btc commented on #4961
Issue observed for deactivated super admins

[2022-09-21 07:38] harisboston commented on #4961
Issue is not replicating for new user deactivated super admins.
Issue is happening only for few users like  'lathan+3@boston-technology.com' ,

In auth server DB I can see two records
email lathan+3@boston-technology.com      app_id = GCPMOB001  created_data= 2022-05-18 12:14:12
email lathan+3@boston-technology.com      app_id = GCPDEV001   created_data=  2022-04-01 21:01:44

There is no record fo

[2022-09-21 08:54] Madhud5 commented on #4971
Hi @Lathan-btc please check this issue.
thanks

[2022-09-21 11:11] nishit-v commented on #4907
Issue is fixed in latest dev instance.

[2022-09-21 11:14] nishit-v commented on #4971
First 2 points are fixed and 3rd point is still reproducible

- Disabled icon should get displayed when the admin mouse hovered on the dropdown

[2022-09-21 11:28] nishit-v commented on #4961
Issue is not reproducible for newly deactivated users and hence closing this ticket.

[2022-09-21 11:28] #4961 closed

[2022-09-21 11:57] bhoomikav16 commented on #4886
Issue was observed even in PM web app at 5.25 PM , 21/09/2022

[2022-09-21 12:12] harisboston commented on #4886
NO error in Auth server at 5.25 PM , 21/09/2022, Hydra responded with proper refresh_token  for grantType: authorization_code,
same updated in users table of auth DB

[2022-09-21 12:35] Lathan-btc commented on #4971
@Madhud5 When the admin mouse hovered on the dropdown, sometimes disable icon is getting displayed, and sometimes it is not getting displayed.

[2022-09-21 12:48] Madhud5 commented on #4948
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-21 13:05] Madhud5 commented on #4971
Hi @Lathan-btc please check this issue.
thanks

[2022-09-21 13:47] nishit-v opened #4972 "[VAPT] [SB] Question/Form step > Add or Edit question > UI issue"
**Actual:** Selected tab is not highlighted when navigated to the page first time

**Expected:**  Selected tab should be highlighted

Note: Issue observed for both question step and form step. Issue observed for both Add or edit question
Issue also observed for Active tasks

Refer screenshots for Actual and Expected
![Actual](https://user-images.githubusercontent.com/60386291/191521146-d04d768a-6b

[2022-09-21 13:51] nishit-v opened #4973 "[VAPT] [SB] Placeholder text color for all the dropdown values is not as per design throughout the application"
**Actual:** Placeholder text colour for all the dropdown values is in black colour throughout the application.

**Expected:** Placeholder text colour for all the dropdown values should be in light grey (Refer previous designs)

Refer screenshot for one of the page
![Placeholder](https://user-images.githubusercontent.com/60386291/191522091-6062f02e-3d93-49a1-9af3-119f943af08e.png)

[2022-09-21 14:19] nishit-v opened #4974 "[VAPT] [SB] Apps and Studies list > Tooltip is not center aligned with the icons when mouse hovered"
**Actual:** Tooltip is not center aligned with the icons when mouse hovered
![SB_Actual](https://user-images.githubusercontent.com/60386291/191529076-d8a4a68b-0469-48da-8134-5724b716399a.png)

**Expected:** Tooltip should be center aligned with the icons when mouse hovered
![SB_Expected](https://user-images.githubusercontent.com/60386291/191529159-4c36da88-a5fc-4ad2-9a6a-1490443daec0.png)

Issue o

[2022-09-21 14:28] Lathan-btc opened #4975 "[iOS] Text choice > Text choice with other option > Selected 'Other' option is not getting retained in the following scenario"
**Steps:**
1. Sign up or sign in to the mobile app
2. Enroll to the study
3. Click on text choice question with other option
4. Select 'Other' option for text choice response type
5. Click on Cancel
6. Click on 'Save for later'
7. Again Click on activity and observe

**AR:** Selected value is not getting retained
**ER:** Selected value should get retained

**Note:** The issue should also be fixed

[2022-09-21 14:36] nagarjunav1 opened #4976 "[Android] App is crashing in a scenario for the 'Text choice' responce type"
Steps:
1. Sign up or sign in to the mobile app
2. Enroll to the study
3. Click on text choice question with other option
4. Select the 'Other' option for text choice response type
5. Click on Next button
6. Click on the Back button and observe

A/R:- App is crashing in above scenario
E/R:- App should not crash in any screen

https://user-images.githubusercontent.com/60500517/191533174-467d4521-18c

[2022-09-21 14:44] Lathan-btc opened #4977 "[iOS] Form step questions with 'Repeat form' option > UI issue"
Form step questions with 'Repeat form' option > UI issue > 'Repeat' text should align middle to the white layout ( both vertically and horizontally)

![image](https://user-images.githubusercontent.com/71445210/191534883-fec8839b-a43b-44cd-8b9e-0ade216a63fb.png)

[2022-09-21 14:54] nishit-v opened #4978 "[VAPT] [SB] Resource > Alignment issue for anchor date options"
**Actual:** Alignment issue for anchor date options

**Expected:** Alignment should be proper

![Resource_UI](https://user-images.githubusercontent.com/60386291/191538151-0772007c-1efd-4257-afa1-4b4d2c76f906.png)

[2022-09-21 14:58] nishit-v opened #4979 "[VAPT] [SB] Active task > Regular One Time > Alignment issue"
**Actual:** Alignment issue for date picker and time picker values

**Expected:** Alignment should be proper

Issue not observed for questionnaires

![Active Task_UI](https://user-images.githubusercontent.com/60386291/191539111-ec5d8a2a-76eb-4f0b-83a7-c4147f14d105.png)

[2022-09-21 15:01] Lathan-btc opened #4980 "[iOS] Study activities screen > Pop up > UI issue in the following scenario"
**Description :**
Study activities screen > Pop up > UI issue > when multiple popups are comes at a time

**Pre conditions:**
1. Consent should be updated for the enrolled participants
2. Some of the activities should be missed by the particular participant for the same study

**Steps:**
1. Sign in to the mobile app
2. Click on the enrolled study
3. Click on review consent and provide the consent

[2022-09-21 15:18] nagarjunav1 commented on #4976
Issue is fixed now in the latest Dev build v1.0(211)

[2022-09-21 15:21] bhoomikav16 opened #4981 "[Android] [FHIR] Questionnaire response > Display text is getting displayed when participant select 'Other' option in the text choice questionnaire"
**Pre-condition:**  Text choice multiselect with other option questionnaire should be configured in the Study builder

**Steps:**
1. Sign up or Sign to the mobile app
2. Enroll to the study
3. Submit the response for created questionnaire
4. Go to the FHIR store
5. Go to questionnaire response
6. Click on the particular record and observe the JSON file

**AR:** Questionnaire response > Display tex

[2022-09-22 05:50] bhoomikav16 commented on #4981
Issue is fixed in the latest dev build 1.0(212)

[2022-09-22 08:43] Lathan-btc commented on #4886
Issue observed again at 2.11 PM, 22/09/2022

[2022-09-22 09:27] bhoomikav16 opened #4986 "[FHIR] Questionnaire resource > Mark as exclusive ? option value is not getting displayed in JSON for 'Other' option in the text choice questionnaire"
**Pre-condition:** Text choice multiselect with other option questionnaire should be configured in the Study builder

**Steps:**
1. Go to the FHIR store
2. Go to questionnaire resource
3. Click on the particular record and observe the JSON file

**AR:** Questionnaire resource > Mark as exclusive ? option value is not getting displayed in JSON for 'Other' option in the text choice questionnaire
**E

[2022-09-22 11:04] akashkumarv3 commented on #4960
Hi , after upgrading my sql version to 8 from server side .
Now its working fine .

[2022-09-22 11:12] bhoomikav16 commented on #4986
Issue is fixed in the latest dev instance

[2022-09-22 11:49] Lathan-btc opened #4987 "[Mobile apps][FHIR] JSON structure > Inconsistency between iOS and android"
Steps:
1. Sign up or sign in to the mobile app (Both android and iOS)
2. Enroll to the study
3. Click on the form step questions
4. Click on the Skip button and submit the response
5. Go to the FHIR store and observe

AR: There is an inconsistency between both iOS JSON and Android JSON in FHIR
ER: There should be a consistency between both android and iOS

**iOS JSON structure**

[code]

**Android

[2022-09-22 13:10] Lathan-btc commented on #4960
Issue is fixed in the latest deployment

[2022-09-22 13:17] nishit-v opened #4989 "[iOS] Dashboard > Statistics > UI issue for Day and Week tabs"
**Actual:** First 2 letters of the month text is showing in blue colour

**Expected:** Colour of the text should be in light grey colour and blue colour should be removed

Issue not observed for Month tab

![Day](https://user-images.githubusercontent.com/60386291/191757316-e286cc67-c4f8-46bc-bef4-57a104779921.png)
![Month](https://user-images.githubusercontent.com/60386291/191757346-2c47322b-d37b-

[2022-09-23 05:31] Madhud5 commented on #4972
Hi @nishit-v please check this issue and close

[2022-09-23 05:32] Madhud5 commented on #4979
Hi @nishit-v  please check and close the issue.
thanks

[2022-09-23 05:32] Madhud5 commented on #4978
Hi @nishit-v  please check and close the issue.
thanks

[2022-09-23 05:42] nishit-v commented on #4972
Issue is fixed in latest dev instance

[2022-09-23 05:43] nishit-v commented on #4978
Issue is fixed in latest dev instance

[2022-09-23 05:43] nishit-v commented on #4979
Issue is fixed in latest dev instance

[2022-09-23 06:54] nagarjunav1 commented on #4962
Issue is fixed now in the latest Dev build

[2022-09-23 07:51] Madhud5 commented on #4959
Hi @bhoomikav16
functionality : after click on "mark as completed" button page will get refresh then default the first tab will be in active state.

[2022-09-23 08:05] Madhud5 commented on #4973
Hi @nishit-v please check and close the issue.
thanks

[2022-09-23 08:07] Madhud5 commented on #4974
Hi @nishit-v please check and close the issue.
thanks

[2022-09-23 08:42] Madhud5 commented on #4959
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-23 08:44] nishit-v commented on #4973
Issue is fixed in latest dev instance.

[2022-09-23 08:45] nishit-v commented on #4974
Issue is not fixed and reproducible still.

[2022-09-23 10:34] bhoomikav16 commented on #4968
Issue is fixed in the latest dev instance

[2022-09-23 10:38] bhoomikav16 commented on #4959
Issue is fixed in the latest dev instance

[2022-09-23 10:59] nishit-v opened #4991 "[VAPT] [SB] All the screens > Text is not visible inside some of the buttons when mouse hovered"
A/R: Text is not visible inside some of the below buttons (buttons having grey colour)

1. Cancel
2. Save
3. Next
4. Upload
5. Change password
6. Upload PDF
7. Enforce password change etc

E/R: Text should be visible

Issue should be fixed for all the buttons across the application

Eg in basic info when mouse hovered:
![BasicInfo](https://user-images.githubusercontent.com/60386291/191946541-d60d9

[2022-09-23 11:32] Lathan-btc opened #4992 "[SB] [VAPT] Rich text editor > UI issues"
Rich text editor > UI issues

1. Font Style > UI issue > Values are not aligned properly
2. Font size > UI issue > Values are not aligned properly
3. All icons are moving when the admin clicks on the icons present in the Rich text editor
4. Insert link > UI issue > Cross mark not aligned properly
5. Insert link > Select check box is not getting displayed for 'Open in new window
6. Drag icon is not

[2022-09-23 11:40] Lathan-btc opened #4993 "[SB] Overview screen > Uploaded overview image is not getting displayed in the following scenario"
Steps:

1. Login to SB
2. Create or edit the study
3. Navigate to the overview screen
4. Upload an overview image
5. Remove the image
6. Again upload the same image and observe

AR: Image is not getting uploaded
ER: Image should get displayed

https://user-images.githubusercontent.com/71445210/191952461-a2603665-4bf9-4689-9df5-fdbe1f76a545.mp4

[2022-09-23 12:04] GovindPrasadBostonTechnologyCorporation commented on #4980
Hello team,

This issue is due to OS behaviour for AlertViewController.
We have raised a issue in developer forum -
https://developer.apple.com/forums/thread/715648

[2022-09-23 12:46] bhoomikav16 opened #4994 "[VAPT] [SB] Alignment issue in the 'Select the study version to be exported / copied popup message"
**AR:**  Alignment issue in the 'Select the study version to be exported / copied popup message in the study builder
**ER:**  'Select the study version to be exported / copied popup messages should be center aligned in the study builder

![copied](https://user-images.githubusercontent.com/86007179/191963203-98430c43-7974-42a3-b1b7-690baa6fc30f.png)

![Export](https://user-images.githubusercontent.

[2022-09-23 13:08] bhoomikav16 opened #4995 "[Consent API] Consent record with revoked state should be created ,when participant account is deleted in the mobile app"
**Pre-condition:** Closed/combined/ iOS open study should be created in the study builder

**Steps:**
1. Sign in / Sign up
2. Enroll for the closed / combined study and then withdrawn from the study
3. Open the PM , and add same user account for different site in the PM
4. Then Open the mobile app
5. Again enroll for the same study
6. Go to 'My account' section and delete the user account
7. Go to

[2022-09-23 15:02] Madhud5 commented on #4991
Hi @nishit-v  please check and close the issue.
thanks

[2022-09-23 15:02] Madhud5 commented on #4994
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-23 15:16] nishit-v commented on #4991
Issue is fixed in latest dev instance.

[2022-09-23 15:22] bhoomikav16 opened #4999 "[Android] [Consent API] Consent record with revoked state should be created ,when participant account is deleted in the mobile app"
**Pre-condition:** Study should be created in the study builder

**Steps:**
1. Sign in / Sign up
2. Enroll for the  study
3. Now go to 'My account' section and delete the user account
4. Go to that particular consent record and Verify

**AR:** Consent record with revoked state is not getting created ,when participant account is deleted in the mobile app
**ER:** Consent record with revoked state sh

[2022-09-23 15:23] Lathan-btc commented on #4977
Issue is fixed in the latest iOS build

[2022-09-23 15:29] bhoomikav16 commented on #4994
Issue is still reproducing in the latest dev instance, i.e., UI od popup message should also be vertically center aligned

[2022-09-24 05:17] bhoomikav16 opened #5000 "[VAPT] [SB] Questionnaires > Question step / Form step > Text choice response type > UI Issue in the Response level attribute screen"
Questionnaires > Question step / Form step > Text choice response type > UI Issue in the Response level attribute screen

![ui](https://user-images.githubusercontent.com/86007179/192081205-44f23daf-ce77-4267-88a9-aa52ae9802c5.png)

[2022-09-24 05:41] nishit-v commented on #4989
Issue is fixed in latest Dev iOS build V3.0.177

[2022-09-24 05:43] Lathan-btc opened #5001 "[SB] [VAPT] Buttons are blinking when admin clicks on the buttons"
Buttons are blinking when the admin clicks on the buttons (eg: Save, Cancel, Mark as completed, Upload)

**Note:**
1. Issue should be fixed in all the places
2. Issue observed after resolving #4991 issue

https://user-images.githubusercontent.com/71445210/192081980-bf00ff71-2900-4865-8367-d35058c7b4db.mp4

[2022-09-24 06:09] Lathan-btc commented on #4975
@amruthbtc Textchoice is not working as expected

AR: Other values are getting selected when the participant goes back to question in the above scenarios
ER: Selected values should get displayed

Note: Please refer to the attached videos

https://user-images.githubusercontent.com/71445210/192082803-3c9252e2-60c6-473d-9347-e1af7953a094.MOV

https://user-images.githubusercontent.com/71445210/1920828

[2022-09-24 06:11] nishit-v commented on #4975
One more scenario where text choice is not working as expected. "other" text field is automatically taking value field from SB even though user has not entered any value.

Refer attached video

https://user-images.githubusercontent.com/60386291/192082907-9227597e-b0b0-48c2-8eca-196e8c30a2cc.MOV

[2022-09-24 07:42] bhoomikav16 commented on #4999
Issue is fixed in the latest dev instance

[2022-09-24 07:46] Lathan-btc opened #5002 "[PM] Admins > Search bar > Placeholder text >Text change"
Admins > Search bar > Placeholder text >Text change > 'user' should be changed to 'admin'

![image](https://user-images.githubusercontent.com/71445210/192086563-af160b74-6fbf-4386-8120-889605668d71.png)

[2022-09-24 07:49] bhoomikav16 opened #5003 "[VAPT] [PM] Participant details > Consent history > Consent history values should be aligned in the center"
Participant details > Consent history > Consent history values should be aligned in the center

![PM](https://user-images.githubusercontent.com/86007179/192086883-d6d567dd-30d6-4818-b994-d6b6924400ac.png)

[2022-09-24 08:02] bhoomikav16 commented on #4995
Issue is still reproducing in the latest dev instance

**Note:** Issue is observed only when submitted response from Android 12 device

[2022-09-25 04:44] harisboston commented on #4886
Analyzed the Auth-server log at 2.11 PM, 22/09/2022:

Received request from Mobile to get refresh token at 2022-09-22 14:11:02.986 IST.

paramMap value:
{client_id=[TUUo9PjRQN80y3Mt], grant_type=[refresh_token], redirect_uri=[https://participants.btcsoft-dev.boston-technology.com/auth-server/callback], refresh_token=[RQP-2fHQx7kye5IPjuVaxP3BUgnq2N6FA0VQgJErJzk.cXRBDFuNKSFFaxjbUNuJAfDsmM0EKR1uejkvF

[2022-09-25 13:12] Madhud5 commented on #4994
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-25 13:12] Madhud5 commented on #5000
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-26 04:14] Madhud5 commented on #4994
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-26 04:14] Madhud5 commented on #4992
Hi @Lathan-btc  please check and close the issue.
thanks

[2022-09-26 04:56] Madhud5 commented on #5001
Hi @Lathan-btc please check and close the issue.
thanks

[2022-09-26 04:58] Madhud5 commented on #4974
Hi @nishit-v please check and close the issue.
thanks

[2022-09-26 04:59] Madhud5 commented on #5001
Hi @Lathan-btc please check and close the issue.
thanks

[2022-09-26 05:10] Madhud5 commented on #5002
Hi @Lathan-btc please check and close the issue.
thanks

[2022-09-26 05:12] Lathan-btc commented on #4975
@amruthbtc two
Text choice is not working as expected, multiple values are getting selected in the attached video

Note: Issue observed in the following device
Device: iPhone XS Max
Version: iOS 16.0.2

https://user-images.githubusercontent.com/71445210/192198410-15a26600-b9fa-4004-903a-fca9d24a1d5c.mp4

[2022-09-26 05:18] Lathan-btc commented on #5002
Issue is fixed in the latest Dev instance

[2022-09-26 05:25] Lathan-btc commented on #4993
Issue is reproducible in the latest dev instance

[2022-09-26 05:29] nishit-v commented on #4974
Issue is reproducible in the latest dev instance

[2022-09-26 05:49] akashkumarv3 commented on #4993
@Lathan-btc Hi Latha ,Please test in btc-dev2dev-deploment branch .

[2022-09-26 05:52] bhoomikav16 commented on #4994
Issue is fixed in the latest dev instance

[2022-09-26 06:21] nishit-v commented on #4974
Issue is fixed in the latest dev instance

[2022-09-26 07:08] Madhud5 commented on #5003
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-26 07:23] akashkumarv3 commented on #4993
@Lathan-btc Branch is merged now So you can test now.

[2022-09-26 08:03] bhoomikav16 commented on #4995
Issue is fixed in the latest android dev build 1.0(213)

[2022-09-26 08:09] harshith2590 commented on #4987
This issue can be tested once IOS team has worked on Skip. @Lathan-btc @GovindPrasadBostonTechnologyCorporation  Kindly take a note of this.

[2022-09-26 08:11] Lathan-btc commented on #4993
@akashkumarv3 Issue is fixed only for the first page and for remaining pages issue is reproducible

[2022-09-26 08:21] Lathan-btc commented on #5001
Issue is fixed in the latest VAPT branch

[2022-09-26 08:30] Lathan-btc opened #5007 "[SB] [VAPT] Dropdown is getting grayed out when admin selects the value from the dropdown"
The dropdown is getting grayed out when the admin selects the value from the dropdown

![image](https://user-images.githubusercontent.com/71445210/192230051-828de9f9-33bf-4f20-9cf9-a700f642570a.png)

[Note: Issue should be fixed in the places where ever dropdowns are present]

[2022-09-26 08:34] bhoomikav16 commented on #5000
Issue is still reproducing in the latest dev instance

[2022-09-26 08:46] Lathan-btc commented on #4886
Issue observed again in iOS at 1.10 PM 26/09/2022

[2022-09-26 08:47] amruthbtc commented on #4975
@nishit-v  the scenario only breaks in Device: iPhone XS Max with Version: iOS 16.0.2 , I checked in iPhone SE 2020 (iOS 16) and it is working. There are  device specific issue for iOS 16 and later in iPhone X, XS and XR with touch input, it is a known issue. So as of now we need this issue to be deferred.

[2022-09-26 08:52] bhoomikav16 opened #5008 "[VAPT][SB] Tick mark is getting overlapped with the study name is add /edit admin screen"
**Pre-condition:** Create a study with larger name

Tick mark is getting overlapped with the study name is add /edit admin screen

![image](https://user-images.githubusercontent.com/86007179/192234500-f2d145fe-d17f-440b-8120-9e4d04b25f8d.png)

[2022-09-26 09:13] bhoomikav16 opened #5009 "[PM] Status is getting displayed as 'Not provided' even when there is no data sharing permission"
**AR:** Status is getting displayed as 'Not provided' even when there is no data sharing permission
**ER:**  Status should get displayed as 'Not applicable' , when there is no data sharing permission
![11](https://user-images.githubusercontent.com/86007179/192238890-ff2ab696-4424-4e0e-83ff-4357168bc9a0.png)

[2022-09-26 09:14] bhoomikav16 commented on #4927
Issue will be tested once after https://github.com/GoogleCloudPlatform/fda-mystudies/issues/5009 is fixed

[2022-09-26 09:16] bhoomikav16 commented on #4886
Issue is not observed again in the androd latest dev build 1.0(213)

[2022-09-26 09:44] Lathan-btc commented on #4992
@Madhud5
1. 1 to 5 points are fixed
2. 6th point is reproducible in the VAPT branch

[2022-09-26 09:50] Madhud5 commented on #5003
![image](https://user-images.githubusercontent.com/59555917/192246889-cd1144cf-3545-4870-8bc3-c8c68a149bc7.png)

Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-26 11:03] Madhud5 commented on #5008
Hi @bhoomikav16  please check and close the issue.
thanks

[2022-09-26 11:03] Madhud5 commented on #4992
Hi @Lathan-btc please check and close the issue.
thanks

[2022-09-26 11:18] Lathan-btc opened #5011 "[iOS] [FHIR] Questionnaire response > Other answers are getting stored for the form step questions in the following scenario"
Steps:
1. In SB add multiple text choice questions in the form of step
2. In mobile, provide the response only for the first question
3. Don't provide the answer to the 2nd question
4. Submit the response
5. Go to the FHIR store and observe

AR: Selected value for the first question in the form is getting displayed for the skipped question
ER: Answer options should get displayed properly

![image]

[2022-09-26 11:21] bhoomikav16 commented on #4963
Issue is still reproducing in the latest android build 1.0(213)

[2022-09-26 11:26] nishit-v commented on #4993
Issue is fixed in latest Dev instance.

[2022-09-26 11:29] nishit-v commented on #4992
Issue is fixed only for 1st overview page and for remaining pages issue is reproducible.

[2022-09-26 11:29] Lathan-btc commented on #4987
Issue is fixed in the latest iOS dev build 3.0(180)

[2022-09-26 11:40] bhoomikav16 commented on #5003
Issue is fixed in the latest dev instance

[2022-09-26 11:42] Lathan-btc commented on #5007
Issue is fixed in the latest deployment

[2022-09-26 11:47] bhoomikav16 commented on #5009
Issue is fixed in the latest dev instance

[2022-09-26 11:48] bhoomikav16 commented on #4927
Issue is fixed in the latest dev instance

[2022-09-26 12:02] bhoomikav16 commented on #5008
Issue is fixed in the latest dev instance

[2022-09-26 13:13] Madhud5 commented on #5000
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-26 13:14] Madhud5 commented on #4948
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-26 13:22] Madhud5 commented on #4992
Hi @Lathan-btc please check and close the issue.
thanks

[2022-09-26 13:24] bhoomikav16 commented on #5000
Issue is fixed in the latest dev instance

[2022-09-26 13:28] nishit-v commented on #4992
Issue is fixed in latest dev instance.

[2022-09-26 14:24] Lathan-btc commented on #5011
Issue is fixed in the latest iOS Dev build 3.0(182)

[2022-09-26 14:37] bhoomikav16 commented on #4963
Issue is still reproducing in the latest android dev build 1.0(214)

Please refer the attached screenshot and video below to reproduce the issue

**Image1:**
![image](https://user-images.githubusercontent.com/86007179/192303650-f937b3cb-e83f-421d-855d-a815fb3a7845.png)

**Image 2:**
![image](https://user-images.githubusercontent.com/86007179/192303508-f9524f12-d027-4c6a-bac5-4e23e56351f2.png)

htt

[2022-09-26 15:20] bhoomikav16 commented on #4948
Issue is still reproducing in the latest VAPT dev instance

[2022-09-26 16:28] Madhud5 commented on #4948
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-09-27 05:28] bhoomikav16 commented on #4948
Issue is fixed in the latest dev instance

[2022-09-27 06:27] Lathan-btc opened #5016 "[Mobile apps] Stats and Charts(Trends) functionality is not working"
AR: Stats and Charts(Trends) functionality is not working > Values are not getting displayed in the stats and charts when the participant provides the response for the activities
ER: Stats and Chart functionality should work as expected

[2022-09-27 07:07] Shashank-btc commented on #4963
Hi

This issue will happen only when the last screen is the instruction step. Please close the ticket if main issue is resolved.

Thanks

[2022-09-27 07:24] bhoomikav16 opened #5017 "[Android] Instruction Step screen is not getting displayed in the following scenario"
**Pre-condition:** Create a Questionnaire in the SB where instruction step should be at the last question

**Steps:**
1. Sign in / Sign up
2. Enroll to the study
3. Click on the created activity
4. Complete the activity
5. Click on mobile back button and Verify

**AR:**  Instruction Step screen is not getting displayed in the following scenario
**ER:**  Instruction Step screen should get displayed

[2022-09-27 08:52] bhoomikav16 commented on #4963
Issue is still reproducing in the latest android dev build 1.0(214)

Please refer the attached screenshot and video below to reproduce the issue

Image1:
![image](https://user-images.githubusercontent.com/86007179/192479463-0731f496-877c-4b0c-a24c-ee326d4b6767.png)

Image2:
![image](https://user-images.githubusercontent.com/86007179/192479578-61d25706-0dd0-419c-bcf7-fa4879b88686.png)

https://user

[2022-09-27 11:41] Shashank-btc commented on #4963
Hi
Reverting the applied changes for the branching logic and we will update the way of implementation as it invloves researchstack(framework)

[2022-09-27 15:44] nagarjunav1 commented on #4963
Main issue is fixed now in the latest build v1.0(214). Found navigation issue for the instruction step in the flow and will be tracked seperately in #5017

[2022-09-28 08:19] Lathan-btc opened #5018 "[Mobile apps] Account and study specific issue > Activities will be in resume status for the below mentioned mobile user"
Steps:
1. Sign in with the below mentioned credentials
2. Click on the below mentioned enrolled study
3. Submit the responses for the activities
4. Signout from the app
5. Again sign in to the app
6. Click on the study and observe

AR: Activities will be in resume status for the below mentioned mobile user and study
AR: Activities should be completed successfully

User email:
Email: lathan+1328@b.

[2022-09-28 16:04] akashkumarv3 commented on #5016
Hi Team, from backend it is resolved, and Values are coming in correct structure.

[2022-09-30 09:22] akashkumarv3 commented on #5016
Hi @GovindPrasadBostonTechnologyCorporation @Shashank-btc , issue is resolved from backend, Mobile team please check and update this ticket.

[2022-09-30 11:51] bhoomikav16 opened #5023 "[SB] Inconsistency in the UI for the date and time picker throughtout the application"
Inconsistency in the UI for the date and time picker throughtout the application

**Note:** Please refer the few screenshot attached below
**1.**
![image](https://user-images.githubusercontent.com/86007179/193263100-7bb4a796-a99e-4ca3-a71b-5a9bf004dbe4.png)
**2.**
![image](https://user-images.githubusercontent.com/86007179/193263143-685fab1f-e9a9-48c9-afbf-0b717d6c0dde.png)
**3.**
![image](https:/

[2022-09-30 13:08] Madhud5 commented on #5023
Hi @bhoomikav16 as we discussed after Plugins upgradation date picker will UI will change according to update from plugin third party.  We can't customize plugins

[2022-10-03 05:30] Lathan-btc commented on #4886
Issue is not observed in the latest Dev build 3.0 (183)

[2022-10-03 08:42] Lathan-btc commented on #4657
Issue is reproducible in the latest IDP branch

[2022-10-03 08:50] Lathan-btc opened #5024 "[IDP][PM][MFA Enabled] Admin is not authenticated with 2 factor authentication even though MFA is enabled"
**Pre-condition:** IDP and MFA should be enabled in the PM

**Steps:**
1. Add organizational user in the participant manager
2. Complete set up your account process
3. Sign in with registered credentials and Verify

**AR:** Admin is not authenticated with 2-factor authentication even though MFA is enabled
**ER:** Admin should be authenticated with 2-factor authentication if MFA is enabled

[2022-10-03 08:52] Lathan-btc commented on #4686
Issue will be tested once after fixing the #5024 issue

[2022-10-03 10:44] Lathan-btc opened #5025 "[IDP] [PM] Organizational admin is able to login with invalid password"
**Pre-condition:** IDP and MFA should be enabled in the PM

**Steps:**
1. Add organizational user in the participant manager
2. Complete set up your account process
3. Try to sign in with an invalid password and Verify

**AR:** Organizational admin is able to sign in with invalid password
**ER:** Organizational admin should not be able to sign in with an invalid password and a proper validation me

[2022-10-03 16:18] akashkumarv3 commented on #5018
Hi Latha, Issue is not reproducible.

[2022-10-04 10:32] nishit-v commented on #5018
Since it's account and study specific, issue will be kept under observation.

[2022-10-04 10:45] nagarjunav1 commented on #5016
Issue is fixed in latest Dev build

[2022-10-04 10:55] nagarjunav1 commented on #5023
Closed the ticket as above comment from developer

[2022-10-06 06:30] bhoomikav16 commented on #4635
Issue is fixed in the latest dev IDP instance

[2022-10-06 06:40] bhoomikav16 commented on #4616
Issue is fixed in the Study Builder and will test in Participant Manager once https://github.com/GoogleCloudPlatform/fda-mystudies/issues/5024 is fixed

[2022-10-06 06:41] bhoomikav16 commented on #4634
Issue will be tested once https://github.com/GoogleCloudPlatform/fda-mystudies/issues/5024 is fixed

[2022-10-06 09:26] bhoomikav16 opened #5026 "[IDP] [PM] Submit button is disabled in the account setup screen"
**Steps:**
1. Add admins in the participant manager by entering the value in the phone number field which should be as similar in the format displayed in the UI
2. After getting account setup link in an email, click on that link
3. Complete all the fields and click on Submit button and Verify

**AR:** Submit button is disabled in the account setup screen
**ER:** Submit button should not be disable

[2022-10-06 13:20] akashkumarv3 commented on #4605
Hi, as per discussion with BA, Alignment is fixed but only in chrome, position is in right side because library is not supported in chrome's as per Madhu So we cannot update that, but alignment is fixed now.
UI will be as per the below screenshot attached.
![Screenshot (103)](https://user-images.githubusercontent.com/87967921/194322863-f4208428-fd5a-47b2-a9b1-560792d4cb5f.png)

[2022-10-10 06:26] bhoomikav16 opened #5030 "[SB] [QA] Getting failure error message when admin account is added in the study builder"
Getting failure error message when admin account is added in the study builder

Note: In add admin screen different values are getting displayed in role dropdown

![Screenshot (2074)](https://user-images.githubusercontent.com/86007179/194808536-79c74157-e37f-4f77-af95-cb817b6fc2ea.png)

[2022-10-10 10:34] bhoomikav16 opened #5031 "[SB] [QA] Getting 'Failure' error message when importing the study in the study builder"
Getting 'Failure' error message when importing the study in the study builder

![Screenshot (2083)](https://user-images.githubusercontent.com/86007179/194847082-1e8d51ca-dab2-4953-a9d1-8821bb953fb7.png)

[2022-10-10 10:39] bhoomikav16 commented on #5030
Issue is fixed in the latest QA instance with 2.0.10 version

[2022-10-10 12:53] Lathan-btc commented on #5031
Issue is fixed in the latest QA Instance

[2022-10-10 12:53] #5031 closed

[2022-10-10 13:03] #5030 closed

[2022-10-10 13:57] harisboston commented on #5025
Looks like issue is happening because of #4866, once its fixed from front end, then we need to test from backend as IdP user list is not available in email dropdown.

[2022-10-10 13:58] harisboston commented on #5024
Looks like issue is happening because of #4866 , once its fixed from front end, then we need to test from backend as IdP user list is not available in email dropdown.

[2022-10-12 06:58] bhoomikav16 commented on #4617
Issue is fixed in the latest QA instance

[2022-10-12 06:58] #4617 closed

[2022-10-12 07:02] bhoomikav16 commented on #4902
Issue is fixed in the latest QA instance

[2022-10-12 07:02] #4902 closed

[2022-10-12 07:06] #5023 closed

[2022-10-12 07:11] bhoomikav16 commented on #5008
Issue is fixed in the latest QA instance

[2022-10-12 07:11] #5008 closed

[2022-10-12 07:19] Lathan-btc commented on #4583
Issue i fixed in the latest QA instance

[2022-10-12 07:19] #4583 closed

[2022-10-12 07:46] Lathan-btc commented on #4606
Issue is reproducible in the latest QA instance

[2022-10-12 07:48] bhoomikav16 commented on #5007
Issue is fixed in the latest QA instance

[2022-10-12 07:48] #5007 closed

[2022-10-12 07:51] bhoomikav16 commented on #5001
Issue is fixed in the latest QA instance

[2022-10-12 07:51] #5001 closed

[2022-10-12 07:53] Lathan-btc commented on #4631
Issue is fixed in the latest QA instance

[2022-10-12 07:54] #4631 closed

[2022-10-12 07:54] bhoomikav16 commented on #5000
Issue is fixed in the latest QA instance

[2022-10-12 07:54] #5000 closed

[2022-10-12 07:59] Lathan-btc commented on #4709
Issue is fixed in the latest QA instance

[2022-10-12 07:59] #4709 closed

[2022-10-12 08:03] Lathan-btc commented on #4710
Issue is fixed in the latest QA insatnce

[2022-10-12 08:03] #4710 closed

[2022-10-12 08:06] Lathan-btc commented on #4711
Issue is fixed in the latest QA instance

[2022-10-12 08:07] #4711 closed

[2022-10-12 08:09] bhoomikav16 commented on #4991
Issue is fixed in latest QA instance

[2022-10-12 08:09] Lathan-btc commented on #4754
Issue is fixed in the latest QA instance

[2022-10-12 08:09] #4754 closed

[2022-10-12 08:09] #4991 closed

[2022-10-12 08:16] bhoomikav16 commented on #4979
Issue is fixed in latest QA instance

[2022-10-12 08:17] #4979 closed

[2022-10-12 08:18] bhoomikav16 commented on #4978
Issue is fixed in latest QA instance

[2022-10-12 08:19] #4978 closed

[2022-10-12 08:20] Lathan-btc commented on #4778
issue is fixed in the latest QA instance

[2022-10-12 08:20] #4778 closed

[2022-10-12 08:21] bhoomikav16 commented on #4974
Issue is still reproducing in the latest QA instance

[2022-10-12 08:26] Lathan-btc commented on #4781
Issue is fixed in the latest QA instance

[2022-10-12 08:26] #4781 closed

[2022-10-12 08:29] bhoomikav16 commented on #4973
Issue is fixed in latest QA instance.

[2022-10-12 08:30] #4973 closed

[2022-10-12 08:31] Lathan-btc commented on #4871
Issue is fixed in the latest QA instance

[2022-10-12 08:31] #4871 closed

[2022-10-12 08:32] #4972 closed

[2022-10-12 08:34] Lathan-btc commented on #4805
Issue is fixed in the latest QA instance

[2022-10-12 08:34] bhoomikav16 commented on #4969
Issue is fixed in latest QA instance.

[2022-10-12 08:34] #4969 closed

[2022-10-12 08:36] bhoomikav16 commented on #4968
Issue is fixed in the latest QA instance

[2022-10-12 08:36] #4968 closed

[2022-10-12 08:38] Lathan-btc commented on #4854
Issue is fixed in the latest QA build

[2022-10-12 08:38] #4854 closed

[2022-10-12 08:43] bhoomikav16 commented on #4967
Issue is fixed in the latest QA instance

[2022-10-12 08:43] #4967 closed

[2022-10-12 08:46] Lathan-btc commented on #4869
Issue is fixed in the latest QA instance

[2022-10-12 08:48] bhoomikav16 commented on #4966
Issue is fixed in the latest QA instance

[2022-10-12 08:49] #4966 closed

[2022-10-12 08:55] bhoomikav16 opened #5032 "[SB] Error message is overlapping with the text in the study settings screen"
Error message is overlapping with the text in the study settings screen

![image](https://user-images.githubusercontent.com/86007179/195297638-fc0e81a2-6395-439d-9568-4cd867af81ff.png)

[2022-10-12 08:58] Lathan-btc commented on #4860
Issue is fixed in the latest QA instance

[2022-10-12 08:59] bhoomikav16 commented on #4960
Issue is fixed in the latest QA instance

[2022-10-12 09:00] #4960 closed

[2022-10-12 09:00] Lathan-btc commented on #4900
Issue is not observed in the latest QA instance

[2022-10-12 09:00] #4900 closed

[2022-10-12 09:02] #4959 closed

[2022-10-12 09:08] Lathan-btc commented on #4934
Issue is fixed in the latest QA instance

[2022-10-12 09:09] #4934 closed

[2022-10-12 09:11] Lathan-btc commented on #4935
Issue is fixed in the latest QA instance

[2022-10-12 09:11] #4935 closed

[2022-10-12 09:13] Lathan-btc commented on #4936
Issue is fixed in the latest QA instance

[2022-10-12 09:13] #4936 closed

[2022-10-12 09:15] bhoomikav16 opened #5033 "[SB] Admin My account dropdown > UI Issue in the dropdown"
UI issue is observed in the admin my account dropdown i.e., dropdown is shifted to the right side and the font size is also large

![image (16)](https://user-images.githubusercontent.com/86007179/195302580-6a2d62f2-cefb-42d8-b275-0220e997bae7.png)

[2022-10-12 09:22] Lathan-btc commented on #4937
As per the above comment closing this issue

[2022-10-12 09:22] #4937 closed

[2022-10-12 09:25] bhoomikav16 commented on #4952
Issue is fixed in the latest QA instance

[2022-10-12 09:26] #4939 closed

[2022-10-12 09:26] bhoomikav16 commented on #4953
Issue is fixed in the latest QA instance

[2022-10-12 09:27] #4953 closed

[2022-10-12 09:28] #4950 closed

[2022-10-12 09:29] Lathan-btc commented on #4940
Issue is fixed in the latest QA instance

[2022-10-12 09:29] #4940 closed

[2022-10-12 09:31] bhoomikav16 commented on #4947
Issue is fixed in the latest QA instance

[2022-10-12 09:31] #4947 closed

[2022-10-12 09:32] bhoomikav16 commented on #4946
Issue is fixed in the latest QA instance

[2022-10-12 09:32] Lathan-btc commented on #4944
Issue is fixed in the latest QA instance

[2022-10-12 09:32] #4944 closed

[2022-10-12 09:33] #4946 closed

[2022-10-12 09:34] bhoomikav16 commented on #4945
Issue is fixed in the latest QA instance

[2022-10-12 09:34] #4945 closed

[2022-10-12 09:36] bhoomikav16 commented on #4951
Issue is fixed in the latest QA instance

[2022-10-12 09:37] #4951 closed

[2022-10-12 09:38] bhoomikav16 commented on #4948
Issue is fixed in the latest QA instance

[2022-10-12 09:44] Lathan-btc commented on #4992
The below mentioned issues are reproducible in the Consent section and resources section

4. Insert link > UI issue > Cross mark not aligned properly
5. Insert link > Select check box is not getting displayed for 'Open in new window

[2022-10-12 10:41] Lathan-btc commented on #4562
Issue is fixed in the latest QA instance

[2022-10-12 10:41] #4562 closed

[2022-10-12 10:44] Lathan-btc commented on #4569
Issue is fixed in the latest QA instance

[2022-10-12 10:44] #4569 closed

[2022-10-12 10:53] Lathan-btc commented on #4579
Issue is fixed in the latest QA instance

[2022-10-12 10:53] #4579 closed

[2022-10-12 11:05] Lathan-btc commented on #4578
Issue is fixed in the latest QA instance

[2022-10-12 11:05] #4578 closed

[2022-10-12 11:15] bhoomikav16 commented on #4962
Issue is fixed in the latest QA build

[2022-10-12 11:15] #4962 closed

[2022-10-12 11:27] Lathan-btc commented on #4588
Issue is fixed in the latest QA instance

[2022-10-12 11:27] #4588 closed

[2022-10-12 11:30] bhoomikav16 opened #5034 "[PM] [QA] Alternative thumbnail image is not getting displayed in the participant manager"
Alternative thumbnail image is not getting displayed in the participant manager

![image](https://user-images.githubusercontent.com/86007179/195331559-68ecdf27-960e-40ce-953c-c2a4649706e9.png)

[2022-10-12 11:33] Lathan-btc commented on #4628
Issue is fixed in the latest QA instance

[2022-10-12 11:33] #4628 closed

[2022-10-12 11:37] Lathan-btc commented on #4629
Issue is fixed in the latest QA instance

[2022-10-12 11:37] #4629 closed

[2022-10-12 11:37] #5009 closed

[2022-10-12 11:38] bhoomikav16 commented on #5003
Issue is fixed in the latest QA instance

[2022-10-12 11:39] Lathan-btc commented on #4665
Issue is fixed in the latest QA instance

[2022-10-12 11:39] #4665 closed

[2022-10-12 11:39] #5003 closed

[2022-10-12 11:41] Lathan-btc commented on #4666
Issue is fixed in the latest QA instance

[2022-10-12 11:41] #4666 closed

[2022-10-12 11:57] bhoomikav16 commented on #4970
Issue is fixed in the latest QA instance

[2022-10-12 11:58] #4970 closed

[2022-10-12 11:59] bhoomikav16 commented on #4834
Issue is fixed in the latest QA instance

[2022-10-12 11:59] #4834 closed

[2022-10-12 12:01] bhoomikav16 commented on #4938
Issue is fixed in the latest QA instance

[2022-10-12 12:19] nishit-v commented on #4347
Issue is fixed in latest QA instance.

[2022-10-12 12:19] #4347 closed

[2022-10-12 12:20] #4644 closed, assigned to madhud-btc

[2022-10-12 12:22] nishit-v commented on #4511
Issue is fixed in latest QA instance.

[2022-10-12 12:22] #4511 closed

[2022-10-12 12:22] bhoomikav16 commented on #4821
Issue is fixed in the latest QA instance

[2022-10-12 12:22] #4821 closed

[2022-10-12 12:22] nishit-v commented on #4512
Issue is fixed in latest QA instance.

[2022-10-12 12:22] #4512 closed

[2022-10-12 12:22] Lathan-btc commented on #4667
Issue is fixed in the latest QA instance

[2022-10-12 12:23] #4667 closed

[2022-10-12 12:23] nishit-v commented on #4513
Issue is fixed in latest QA instance.

[2022-10-12 12:23] #4513 closed

[2022-10-12 12:23] Lathan-btc commented on #4668
Issue is fixed in the latest QA instance

[2022-10-12 12:23] #4668 closed

[2022-10-12 12:24] bhoomikav16 commented on #4753
Issue is fixed in latest QA build

[2022-10-12 12:24] #4753 closed

[2022-10-12 12:24] nishit-v commented on #4581
Issue is fixed in latest QA instance.

[2022-10-12 12:24] #4581 closed

[2022-10-12 12:25] Lathan-btc commented on #4669
Issue is fixed in the latest QA instance

[2022-10-12 12:25] #4669 closed

[2022-10-12 12:25] nishit-v commented on #4584
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:25] #4584 closed

[2022-10-12 12:26] nishit-v commented on #4587
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:26] #4587 closed

[2022-10-12 12:26] nishit-v commented on #4590
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:26] #4590 closed

[2022-10-12 12:26] Lathan-btc commented on #4670
Issue is fixed in the latest QA instance

[2022-10-12 12:26] #4670 closed

[2022-10-12 12:27] nishit-v commented on #4597
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:27] #4597 closed

[2022-10-12 12:30] bhoomikav16 commented on #4728
Issue is fixed in the latest QA instance

[2022-10-12 12:30] #4728 closed

[2022-10-12 12:32] bhoomikav16 commented on #4676
Issue is fixed in the latest QA instance

[2022-10-12 12:32] #4681 closed

[2022-10-12 12:32] #4676 closed

[2022-10-12 12:32] Lathan-btc commented on #4671
Issue is fixed in the latest QA instance

[2022-10-12 12:32] #4671 closed

[2022-10-12 12:32] nishit-v commented on #4680
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:32] #4680 closed

[2022-10-12 12:33] nishit-v commented on #4682
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:33] #4682 closed

[2022-10-12 12:33] bhoomikav16 commented on #4678
Issue is fixed in the latest QA build

[2022-10-12 12:33] #4678 closed

[2022-10-12 12:35] nishit-v commented on #4684
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:35] #4684 closed

[2022-10-12 12:35] nishit-v commented on #4685
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:35] #4685 closed

[2022-10-12 12:36] nishit-v commented on #4695
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:36] #4695 closed

[2022-10-12 12:36] nishit-v commented on #4696
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:36] #4696 closed

[2022-10-12 12:39] nishit-v commented on #4703
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:39] #4703 closed

[2022-10-12 12:41] nishit-v commented on #4713
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:41] #4713 closed

[2022-10-12 12:42] nishit-v commented on #4596
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:42] #4596 closed

[2022-10-12 12:43] #4714 closed

[2022-10-12 12:44] bhoomikav16 commented on #4604
Issue is fixed in the latest QA instance

[2022-10-12 12:44] #4604 closed

[2022-10-12 12:46] nishit-v commented on #4792
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:46] #4792 closed

[2022-10-12 12:47] #4793 closed

[2022-10-12 12:48] #4764 closed

[2022-10-12 12:50] #4743 closed

[2022-10-12 12:50] #4795 closed

[2022-10-12 12:51] bhoomikav16 commented on #4927
Issue is fixed in the latest QA instance

[2022-10-12 12:51] #4927 closed

[2022-10-12 12:55] #4808 closed

[2022-10-12 12:58] bhoomikav16 commented on #4759
Issue is fixed in the latest QA instance

[2022-10-12 12:58] nishit-v commented on #4810
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 12:58] #4810 closed

[2022-10-12 12:58] #4759 closed

[2022-10-12 13:00] #4818 closed

[2022-10-12 13:01] bhoomikav16 commented on #4745
Issue is fixed in the latest QA instance

[2022-10-12 13:01] nishit-v commented on #4830
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:01] #4830 closed

[2022-10-12 13:02] nishit-v commented on #4831
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:02] #4831 closed

[2022-10-12 13:02] #4745 closed

[2022-10-12 13:06] nishit-v commented on #4859
Issue is not observed in latest QA iOS build V3.0.185

[2022-10-12 13:06] #4859 closed

[2022-10-12 13:06] nagarjunav1 commented on #3910
The feature is implemented and working as expected in the latest QA builds for both ios and android.

[2022-10-12 13:06] #3910 closed

[2022-10-12 13:07] nishit-v commented on #4848
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:07] #4848 closed

[2022-10-12 13:07] nishit-v commented on #4844
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:07] #4844 closed

[2022-10-12 13:08] nishit-v commented on #4837
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:08] #4837 closed

[2022-10-12 13:09] nishit-v commented on #4836
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:09] #4836 closed

[2022-10-12 13:10] nishit-v commented on #4733
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:10] #4733 closed

[2022-10-12 13:12] nishit-v commented on #4724
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:12] #4724 closed

[2022-10-12 13:14] nishit-v commented on #4989
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:14] #4989 closed

[2022-10-12 13:19] nishit-v commented on #4910
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:19] #4910 closed

[2022-10-12 13:21] nishit-v commented on #4909
Closing as per above comment.

[2022-10-12 13:21] #4909 closed

[2022-10-12 13:22] nagarjunav1 commented on #4398
Issue is fixed now in latest QA build

[2022-10-12 13:22] #4398 closed

[2022-10-12 13:22] bhoomikav16 commented on #5002
Issue is still reproducing in the latest build

[2022-10-12 13:23] nishit-v commented on #4892
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:24] nishit-v commented on #4835
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:24] #4835 closed

[2022-10-12 13:26] nagarjunav1 commented on #4888
Issue is fixed now in the latest QA build

[2022-10-12 13:26] #4888 closed

[2022-10-12 13:26] nishit-v commented on #4780
Issue is fixed in latest QA iOS and Android builds.

[2022-10-12 13:26] #4780 closed

[2022-10-12 13:27] bhoomikav16 opened #5035 "[Mobile apps] Images and PDFs are not getting displayed in the mobile apps"
Question with Images and PDF is not getting displayed in the mobile apps

[2022-10-12 13:43] nishit-v commented on #4717
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 13:43] #4717 closed

[2022-10-12 13:44] nishit-v commented on #4708
Issue is fixed in latest QA iOS and Android builds.

[2022-10-12 13:44] #4708 closed

[2022-10-12 13:59] Lathan-btc opened #5036 "[PM] Dashboard >Sites tab > Add location dropdown > Placeholder text should get displayed in the following scenario"
Dashboard >Sites tab > Add location dropdown > Proper placeholder text should get displayed when no values are present in the 'Add location' dropdown

Placeholder text: 'No items are available to select' placeholder text should get displayed in the gray color

[Note: Issue should be fixed in the Add/edit admin > Study admin > 'Select app ID or name']

![image](https://user-images.githubusercontent

[2022-10-12 14:00] nishit-v commented on #4890
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 14:00] #4890 closed

[2022-10-12 14:00] bhoomikav16 commented on #4949
Issue is fixed in the latest QA instance

[2022-10-12 14:01] #4949 closed

[2022-10-12 14:05] bhoomikav16 commented on #4964
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 14:05] #4964 closed

[2022-10-12 14:08] bhoomikav16 commented on #4715
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 14:08] #4715 closed

[2022-10-12 14:10] #4698 closed

[2022-10-12 14:51] bhoomikav16 commented on #4592
Issue is fixed in the latest QA instance

[2022-10-12 14:51] #4592 closed

[2022-10-12 14:53] bhoomikav16 commented on #4591
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 14:56] bhoomikav16 commented on #4594
Issue is fixed in the latest QA gateway build 1.0(217)

[2022-10-12 14:57] bhoomikav16 commented on #4677
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 14:57] #4677 closed

[2022-10-12 15:03] nagarjunav1 commented on #4787
Issue is fixed now in the latest QA build

[2022-10-12 15:03] #4787 closed

[2022-10-12 15:05] nishit-v commented on #4582
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 15:09] nishit-v commented on #4594
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 15:09] #4594 closed

[2022-10-12 15:11] nishit-v commented on #4744
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:11] #4744 closed

[2022-10-12 15:16] nishit-v commented on #4912
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:16] #4912 closed

[2022-10-12 15:19] #4896 closed

[2022-10-12 15:20] nishit-v commented on #4880
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 15:20] #4880 closed

[2022-10-12 15:22] bhoomikav16 commented on #4687
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:25] nishit-v commented on #4839
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:25] #4839 closed

[2022-10-12 15:25] bhoomikav16 commented on #4688
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:25] #4688 closed

[2022-10-12 15:26] bhoomikav16 commented on #4689
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:26] #4689 closed

[2022-10-12 15:26] nishit-v commented on #4908
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:26] #4908 closed

[2022-10-12 15:29] bhoomikav16 commented on #4690
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:29] nagarjunav1 commented on #4887
Issue is fixed in latest QA build

[2022-10-12 15:29] #4887 closed

[2022-10-12 15:29] nishit-v commented on #5016
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:30] nagarjunav1 commented on #4963
Issue is fixed now in the latest QA build

[2022-10-12 15:30] nishit-v commented on #4840
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:30] #4840 closed

[2022-10-12 15:30] bhoomikav16 commented on #4691
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:30] nishit-v commented on #4977
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:30] #4977 closed

[2022-10-12 15:30] #4691 closed

[2022-10-12 15:31] nishit-v commented on #4907
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:31] #4907 closed

[2022-10-12 15:31] #4855 closed

[2022-10-12 15:32] bhoomikav16 commented on #4692
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:32] #4692 closed

[2022-10-12 15:33] #4897 closed

[2022-10-12 15:34] nagarjunav1 commented on #4732
Issue is fixed now in the latest QA build

[2022-10-12 15:34] nishit-v commented on #4646
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:35] nishit-v commented on #4632
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:35] bhoomikav16 commented on #4693
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:36] #4693 closed

[2022-10-12 15:36] nishit-v commented on #4649
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 15:36] #4649 closed

[2022-10-12 15:40] bhoomikav16 commented on #4697
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:40] #4697 closed

[2022-10-12 15:41] nishit-v commented on #4930
Issue is fixed in latest QA iOS and Android builds.

[2022-10-12 15:41] #4930 closed

[2022-10-12 15:42] nishit-v commented on #4889
Issue is fixed in latest QA iOS build V3.0.186

[2022-10-12 15:42] #4889 closed

[2022-10-12 15:43] nishit-v commented on #4556
Issue is fixed in latest QA iOS build V3.0.185

[2022-10-12 15:43] #4556 closed

[2022-10-12 15:44] bhoomikav16 commented on #4646
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:44] #4646 closed

[2022-10-12 15:45] nagarjunav1 commented on #4723
Issue is fixed now in the latest QA build

[2022-10-12 15:45] #4723 closed

[2022-10-12 15:46] bhoomikav16 commented on #4699
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:49] bhoomikav16 commented on #4702
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:49] #4702 closed

[2022-10-12 15:51] bhoomikav16 commented on #4704
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:52] #4704 closed

[2022-10-12 15:52] nagarjunav1 commented on #4705
Issue is fixed now in the latest QA build

[2022-10-12 15:52] #4705 closed

[2022-10-12 15:55] bhoomikav16 commented on #4694
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:55] #4694 closed

[2022-10-12 15:57] bhoomikav16 commented on #4721
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 15:58] #4721 closed

[2022-10-12 16:03] bhoomikav16 commented on #4599
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 16:04] nagarjunav1 commented on #4786
Issue is fixed now in the latest QA build

[2022-10-12 16:04] #4786 closed

[2022-10-12 16:05] #4599 closed

[2022-10-12 16:09] bhoomikav16 commented on #4598
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 16:09] #4598 closed

[2022-10-12 16:09] nagarjunav1 commented on #4976
Issue is fixed now in latest QA build

[2022-10-12 16:09] #4976 closed

[2022-10-12 16:12] bhoomikav16 commented on #4965
Issue is fixed in the latest QA build 1.0(217)

[2022-10-12 16:12] #4965 closed

[2022-10-12 17:51] Lathan-btc commented on #5035
Issue is fixed in the latest QA instance

[2022-10-12 17:51] #5035 closed

[2022-10-12 17:52] Lathan-btc commented on #5034
Issue is fixed in the latest QA instance

[2022-10-12 17:52] #5034 closed

[2022-10-13 05:27] Lathan-btc opened #5037 "[iOS] Study resources screen > Newly attached and published PDF is not getting displayed for the mobile participants"
Steps:

1 . In SB, add resource pdf and publish
2. Go to mobile and check the added resource
3. SB > Edit resource
4. Remove the attached pdf and attach a new pdf
5. Publish the updates
6. In Mobile, go to the study resources screen and observe

AR: Old attached pdf is getting displayed for the mobile participants
ER: Newly attached and published PDF should get displayed for the mobile participant

[2022-10-13 05:28] Lathan-btc opened #5038 "[iOS] Study resources screen > Newly attached and published PDF is not getting displayed for the mobile participants"
Steps:

1 . In SB, add resource pdf and publish
2. Go to mobile and check the added resource
3. SB > Edit resource
4. Remove the attached pdf and attach a new pdf
5. Publish the updates
6. In Mobile, go to the study resources screen and observe

AR: Old attached pdf is getting displayed for the mobile participants
ER: Newly attached and published PDF should get displayed for the mobile participant

[2022-10-13 05:48] bhoomikav16 commented on #4825
Issue is fixed in the latest QA build 1.0(217)

[2022-10-13 05:49] #4825 closed

[2022-10-13 05:51] bhoomikav16 commented on #4841
Issue is fixed in the latest QA build 1.0(217)

[2022-10-13 05:52] #4841 closed

[2022-10-13 05:58] bhoomikav16 commented on #4894
Issue is fixed in the latest QA build 1.0(217)

[2022-10-13 05:58] #4894 closed

[2022-10-13 06:07] bhoomikav16 commented on #4532
Issue is still reproducing in the latest QA build 1.0(217)

[2022-10-13 06:14] bhoomikav16 commented on #4517
Issue is still reproducing in the latest QA build 1.0(217)

[2022-10-13 06:16] Lathan-btc commented on #4582
Issue is still reproducible in the latest QA iOS build V3.0.187

[2022-10-13 06:21] bhoomikav16 commented on #4582
Issue is fixed in the latest QA build 1.0(218)

[2022-10-13 06:22] #4582 closed

[2022-10-13 07:02] bhoomikav16 commented on #4873
Issue is fixed in the latest QA build 1.0(217)

[2022-10-13 07:02] #4873 closed

[2022-10-13 07:14] bhoomikav16 commented on #4679
Issue is fixed in the latest QA instance

[2022-10-13 07:14] #4679 closed, assigned to madhud-btc

[2022-10-13 07:17] bhoomikav16 commented on #4752
Issue is still reproducing in the VAPT branch , Broken placeholder name is getting displayed

[2022-10-13 07:17] Lathan-btc commented on #5038
QA is closing the issue as it is a duplicate of #5037

[2022-10-13 07:17] #5038 closed

[2022-10-13 07:34] bhoomikav16 commented on #4763
Issue is fixed in the latest QA instance

[2022-10-13 07:35] #4763 closed

[2022-10-13 07:36] bhoomikav16 commented on #4971
Issue is fixed in the latest QA instance

[2022-10-13 07:36] #4971 closed

[2022-10-13 07:52] bhoomikav16 commented on #4517
Issue got reproduced only twice. After installing the build again, tried above scenario multiple times, Issue is not reproducing in the latest QA build 1.0(217). So closing this issue

[2022-10-13 07:53] #4517 closed

[2022-10-13 07:55] Madhud5 commented on #4992
Hi @Lathan-btc please check and close the issue.
thanks

[2022-10-13 07:55] Madhud5 commented on #5032
Hi @Lathan-btc please check and close the issue.
thanks

[2022-10-13 07:55] Madhud5 commented on #5033
Hi @Lathan-btc please check and close the issue.
thanks

[2022-10-13 07:55] Madhud5 commented on #5002
Hi @Lathan-btc please check and close the issue.
thanks

[2022-10-13 07:58] akashkumarv3 commented on #4606
@Lathan-btc please check and update this ticket .

[2022-10-13 08:09] bhoomikav16 commented on #4898
Issue is fixed in the latest QA build

[2022-10-13 08:09] #4898 closed

[2022-10-13 08:12] Madhud5 commented on #4974
Hi @Lathan-btc please check and close the issue.
thanks pls clear history or else it will display same

[2022-10-13 08:24] Lathan-btc commented on #5032
Issue is fixed in the latest VAPT branch

[2022-10-13 08:25] Lathan-btc commented on #5002
Issue is fixed in the latest Dev instance

[2022-10-13 08:32] bhoomikav16 commented on #5033
Issue is fixed in the latest dev instance

[2022-10-13 08:35] Lathan-btc commented on #4992
Issue is fixed in the latest VAPT dev instance

[2022-10-13 08:36] bhoomikav16 commented on #4974
Issue is fixed in the latest QA instance

[2022-10-13 08:42] Lathan-btc commented on #4606
Issue is fixed in the latest Dev instance

[2022-10-13 09:12] Madhud5 commented on #5036
Hi @Lathan-btc issue fixed in Site and in admin plugins wont support it will break complete select dropdown functionality pls note.
Please check and close ticket.
thanks

[2022-10-13 09:30] Lathan-btc commented on #5036
As per the above comment it is working fine

[2022-10-13 09:59] Madhud5 commented on #4752
Hi @Lathan-btc please check and close the issue.
thanks

[2022-10-13 10:12] Lathan-btc commented on #4872
Issue is fixed in the latest QA build 3.0(185)

[2022-10-13 10:12] #4872 closed

[2022-10-13 10:32] Lathan-btc commented on #4651
Issue is fixed in the latest QA instance

[2022-10-13 10:32] #4651 closed

[2022-10-13 10:48] Lathan-btc commented on #4993
Issue is fixed in the latest QA instance

[2022-10-13 10:48] akashkumarv3 commented on #4993
@Lathan-btc please check and update

[2022-10-13 10:51] Shashank-btc commented on #4532
Hi

StudyBuild should not accept the below characters, now the change are done by backend you can test above flow.
 / %

 Thanks

[2022-10-13 10:53] Lathan-btc commented on #4993
Issue is fixed in the latest DEV VAPT branch

[2022-10-13 11:43] akashkumarv3 commented on #4606
@Lathan-btc please test in QA and update.

[2022-10-13 12:07] Lathan-btc commented on #5037
Issue is fixed in the latest Dev build 3.0(188)

[2022-10-13 12:23] Lathan-btc commented on #4606
Issue is fixed in the latest QA instance

[2022-10-13 12:23] #4606 closed

[2022-10-13 12:58] #4870 closed

[2022-10-13 13:01] nishit-v commented on #4849
Issue is not reproducible in latest QA iOS build V3.0.185

[2022-10-13 13:01] #4849 closed

[2022-10-13 13:26] Lathan-btc commented on #5037
Issue is fixed in the latest QA instance

[2022-10-13 13:26] #5037 closed

[2022-10-13 14:07] bhoomikav16 commented on #4532
As per the above comment, Issue is fixed in the latest QA instance

[2022-10-13 14:08] #4532 closed

[2022-10-13 14:23] nishit-v commented on #4901
Issue is fixed in latest QA instance.

[2022-10-13 14:23] #4901 closed

[2022-10-13 14:27] nishit-v commented on #4376
Issue is fixed in latest QA instance builds.

[2022-10-13 14:27] #4376 closed

[2022-10-13 14:28] nishit-v commented on #4413
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 14:28] #4413 closed

[2022-10-13 14:29] nagarjunav1 commented on #4760
Issue is fixed now in latest QA  build

[2022-10-13 14:29] #4760 closed

[2022-10-13 14:29] nishit-v commented on #4725
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 14:29] #4725 closed

[2022-10-13 14:31] nagarjunav1 commented on #4751
Issue is fixed now in the latest QA build

[2022-10-13 14:31] #4751 closed

[2022-10-13 14:33] #4460 closed

[2022-10-13 14:34] bhoomikav16 commented on #4357
Issue is fixed in the latest QA instance.

[2022-10-13 14:34] nagarjunav1 commented on #4580
Issue is fixed now in the latest QA build

[2022-10-13 14:34] #4580 closed

[2022-10-13 14:34] #4357 closed

[2022-10-13 14:34] bhoomikav16 commented on #4365
Issue is fixed in the latest QA instance.

[2022-10-13 14:35] #4365 closed

[2022-10-13 14:35] #4719 closed

[2022-10-13 14:36] #4722 closed

[2022-10-13 14:37] bhoomikav16 commented on #4504
Issue is fixed in the latest QA instance

[2022-10-13 14:38] #4504 closed

[2022-10-13 14:39] #4993 closed

[2022-10-13 14:40] bhoomikav16 commented on #4499
Functionality is implemented in the QA instance

[2022-10-13 14:41] #4499 closed

[2022-10-13 14:42] nishit-v commented on #4893
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 14:44] #4929 closed

[2022-10-13 14:44] #4886 closed

[2022-10-13 14:44] nishit-v commented on #4886
Issue is not observed in latest mobile builds.

[2022-10-13 14:45] bhoomikav16 commented on #4389
Issue is fixed in the latest QA instance

[2022-10-13 14:46] #4389 closed

[2022-10-13 14:46] nagarjunav1 commented on #4999
Issue is fixed in latest QA build

[2022-10-13 14:46] #4999 closed

[2022-10-13 14:48] bhoomikav16 commented on #4394
Issue is fixed in the latest QA instance.

[2022-10-13 14:48] #4394 closed

[2022-10-13 14:54] #4734 closed

[2022-10-13 14:57] nagarjunav1 commented on #4720
Issue is fixed now in latest QA build

[2022-10-13 14:57] #4720 closed

[2022-10-13 15:04] bhoomikav16 commented on #4618
Issue is observed in the latest VAPT branch

[2022-10-13 15:09] nagarjunav1 commented on #4867
Issue is fixed now in the latest QA build

[2022-10-13 15:09] #4867 closed

[2022-10-13 15:10] nagarjunav1 commented on #4726
Issue is fixed now in latest QA build

[2022-10-13 15:10] #4726 closed

[2022-10-13 15:11] nagarjunav1 commented on #4712
Issue is fixed now in the latest QA build

[2022-10-13 15:11] #4712 closed

[2022-10-13 15:12] #4842 closed

[2022-10-13 15:12] nagarjunav1 commented on #4388
Issue is fixed now in the latest QA build

[2022-10-13 15:12] #4388 closed

[2022-10-13 15:14] nishit-v commented on #5011
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 15:14] #5011 closed

[2022-10-13 15:14] nishit-v commented on #4758
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 15:14] #4758 closed

[2022-10-13 15:18] nishit-v commented on #4987
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 15:18] #4987 closed

[2022-10-13 15:19] nishit-v commented on #4911
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 15:19] #4911 closed

[2022-10-13 15:26] #4986 closed

[2022-10-13 15:27] nishit-v commented on #4905
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 15:27] #4905 closed

[2022-10-13 15:29] nagarjunav1 commented on #4716
Issue is fixed now in the latest QA build

[2022-10-13 15:29] #4716 closed

[2022-10-13 15:30] nagarjunav1 commented on #4529
Issue is fixed now in the latest QA build

[2022-10-13 15:30] #4529 closed

[2022-10-13 15:31] nagarjunav1 commented on #4531
Issue is fixed now in the latest QA build

[2022-10-13 15:31] #4531 closed

[2022-10-13 15:32] #4801 closed

[2022-10-13 15:32] #4794 closed

[2022-10-13 15:33] #4789 closed

[2022-10-13 15:36] #4903 closed

[2022-10-13 15:36] #4874 closed

[2022-10-13 15:37] nagarjunav1 commented on #4738
Issue is fixed now in the latest QA build

[2022-10-13 15:37] nishit-v commented on #4822
Issue is fixed in latest QA iOS build V3.0.189

[2022-10-13 15:37] #4822 closed

[2022-10-13 15:39] #4861 closed

[2022-10-13 15:39] nagarjunav1 commented on #4718
Issue is fixed now in the latest QA build

[2022-10-13 15:39] #4718 closed

[2022-10-13 15:44] nagarjunav1 commented on #4530
Issue is fixed now in the latest QA build

[2022-10-13 15:44] #4530 closed

[2022-10-13 15:46] nagarjunav1 commented on #4506
Issue is fixed now in the latest QA build

[2022-10-13 15:46] #4506 closed

[2022-10-13 15:48] bhoomikav16 commented on #4375
Issue is fixed in the latest QA instance.

[2022-10-13 15:48] #4375 closed

[2022-10-13 15:49] Lathan-btc commented on #4788
Issue is fixed in the latest QA instance

[2022-10-13 15:49] #4788 closed

[2022-10-13 15:53] Lathan-btc commented on #4784
Issue is fixed in the latest QA instance

[2022-10-13 15:53] #4784 closed

[2022-10-13 15:53] Lathan-btc commented on #4782
Issue is fixed in the latest QA instance

[2022-10-13 15:53] #4782 closed

[2022-10-13 15:54] Lathan-btc commented on #4772
Issue is fixed in the latest QA instance

[2022-10-13 15:54] #4772 closed

[2022-10-13 15:55] Lathan-btc commented on #4771
Issue is fixed in the latest QA instance

[2022-10-13 15:55] #4771 closed

[2022-10-13 15:56] Lathan-btc commented on #4740
Issue is fixed in the latest QA instance

[2022-10-13 15:56] #4740 closed

[2022-10-14 06:20] bhoomikav16 opened #5039 "[SB] Spatial span memory > Content screen > UI issue is observed in the content screen"
Spatial span memory > Content screen > UI issue is observed in the content screen i.e., Alignment is not according to the design document

**AR:**
![image](https://user-images.githubusercontent.com/86007179/195775132-64b03630-5e4f-498c-be50-d6308f6390f9.png)

**ER:**
![image](https://user-images.githubusercontent.com/86007179/195775810-26545598-fca8-4d7d-a6de-38cae14a8f6f.png)

[2022-10-14 06:24] Lathan-btc commented on #4823
Issue is fixed in the latest QA instance

[2022-10-14 06:24] #4823 closed

[2022-10-14 06:39] Lathan-btc commented on #4802
Issue is fixed in the latest QA instance

[2022-10-14 06:39] #4802 closed

[2022-10-14 06:40] Lathan-btc commented on #4806
Issue is fixed in the latest QA instance

[2022-10-14 06:40] #4806 closed

[2022-10-14 06:47] Lathan-btc commented on #4746
Issue is fixed in the latest QA instance

[2022-10-14 06:47] #4746 closed

[2022-10-14 07:06] bhoomikav16 commented on #4791
Issue is fixed in the latest QA instance

[2022-10-14 07:06] #4791 closed

[2022-10-14 07:07] bhoomikav16 commented on #4800
Issue is fixed in the latest QA instance

[2022-10-14 07:08] #4800 closed

[2022-10-14 07:12] bhoomikav16 commented on #4817
Issue is fixed in the latest QA instance

[2022-10-14 07:12] #4817 closed

[2022-10-14 07:22] Lathan-btc commented on #4508
Issuie is fixed in the latest QA builds

[2022-10-14 07:22] #4508 closed

[2022-10-14 07:23] bhoomikav16 commented on #4981
Issue is fixed in the latest QA build 1.0(217)

[2022-10-14 07:24] #4981 closed

[2022-10-14 07:26] Lathan-btc commented on #4378
Issue is fixed in the latest QA instance

[2022-10-14 07:26] #4378 closed

[2022-10-14 07:28] Lathan-btc commented on #4773
Issue is fixed in the latest QA instance

[2022-10-14 07:28] #4773 closed

[2022-10-14 07:29] Lathan-btc commented on #4785
As per the above comment, Issue is closed in the latest QA instance

[2022-10-14 07:29] #4785 closed

[2022-10-14 07:31] Lathan-btc commented on #4752
Issue is fixed in the latest QA instance

[2022-10-14 07:31] #4752 closed

[2022-10-14 07:32] Lathan-btc commented on #5033
Issue is fixed in the latest QA instance

[2022-10-14 07:32] #5033 closed

[2022-10-14 07:34] bhoomikav16 commented on #4372
Issue is fixed in the latest QA instance

[2022-10-14 07:34] #4372 closed

[2022-10-14 07:37] bhoomikav16 commented on #4464
Issue is fixed in the latest QA instance

[2022-10-14 07:37] #4464 closed

[2022-10-14 07:40] Lathan-btc commented on #5036
Issue is fixed in the latest QA instance

[2022-10-14 07:40] #5036 closed

[2022-10-14 07:42] bhoomikav16 commented on #5032
Issue is still reproducing in the latest QA instance

[2022-10-14 07:43] Lathan-btc commented on #5002
Issue is fixed in the latest QA instance

[2022-10-14 07:43] #5002 closed

[2022-10-14 07:49] Lathan-btc commented on #4992
Issue is fixed in the latest QA instance

[2022-10-14 07:49] #4992 closed

[2022-10-14 07:50] Lathan-btc commented on #4933
Issue is fixed in the latest QA instance

[2022-10-14 07:50] #4933 closed

[2022-10-14 07:51] Lathan-btc commented on #4783
Issue not observed in the latest QA instance

[2022-10-14 07:51] #4783 closed

[2022-10-14 07:52] Lathan-btc commented on #4589
Issue is fixed in the latest QA instance

[2022-10-14 07:52] #4589 closed

[2022-10-14 07:53] Lathan-btc commented on #4505
Issue is fixed in the latest QA instance

[2022-10-14 07:53] #4505 closed

[2022-10-14 07:58] #4325 closed

[2022-10-14 08:03] bhoomikav16 commented on #4321
Issue is fixed in the both Android and iOS latest QA builds

[2022-10-14 08:04] #4321 closed

[2022-10-14 08:14] bhoomikav16 commented on #4807
Issue is fixed in the latest QA instance

[2022-10-14 08:17] bhoomikav16 commented on #4618
Issue is fixed in the latest dev VAPT branch

[2022-10-14 08:18] Lathan-btc commented on #4812
Issue is fixed in the latest QA instance

[2022-10-14 08:18] #4812 closed

[2022-10-14 09:00] bhoomikav16 commented on #4995
Issue is still reproducing in the latest QA instance

[2022-10-14 09:03] bhoomikav16 commented on #4807
Issue is reproducing only for iOS Studies

[2022-10-14 09:15] bhoomikav16 commented on #4730
Issue is fixed in the latest Android standalone QA build v1.0(219)

[2022-10-14 10:15] Lathan-btc commented on #4730
Issue is fixed in the latest QA build 3.0(191)

[2022-10-14 10:15] #4730 closed

[2022-10-14 10:42] Lathan-btc opened #5040 "[iOS] [Standalone build] [QA] Blank screen is getting displayed to the mobile participants in the following scenario"
Steps:
1. Install the standalone build
2. Sign up or Sign in to the mobile app
3. Enroll to the study
4. After navigating to the review screen, click on 'Disagree' and observe

AR: Blank screen is getting displayed
ER: Study overview screen should get displayed

[Note: Issue not observed in Dev instance)

[2022-10-14 11:08] bhoomikav16 commented on #4750
Issue is fixed in the latest QA instance

[2022-10-14 11:08] #4750 closed

[2022-10-14 11:16] bhoomikav16 commented on #4737
Issue is fixed in the latest QA instance

[2022-10-14 11:17] #4737 closed

[2022-10-14 11:31] bhoomikav16 commented on #4735
Issue is fixed in the latest QA instance

[2022-10-14 11:48] #4735 closed

[2022-10-14 13:29] nishit-v commented on #5018
Issue is not reproducible for any of the user accounts in QA instance. Hence closing this ticket and will re-open if found the scenario or for other users.

[2022-10-14 13:29] #5018 closed

[2022-10-14 14:11] Lathan-btc commented on #4995
@harisboston Issue is still reproducible in the latest QA instance

[2022-10-14 14:26] nishit-v commented on #5040
Issue is fixed in latest dev instance V3.0.193

[2022-10-14 14:30] Lathan-btc commented on #4853
Issue is fixed in the latest QA instance

[2022-10-14 14:30] #4853 closed

[2022-10-14 14:32] Lathan-btc commented on #4851
Issue is fixed in the latest QA instance

[2022-10-14 14:32] #4851 closed

[2022-10-14 14:32] Lathan-btc commented on #4850
Issue is fixed in the latest QA instance

[2022-10-14 14:32] #4850 closed

[2022-10-14 14:34] Lathan-btc commented on #4809
Issue is fixed in the latest QA instance

[2022-10-14 14:51] nishit-v commented on #5040
Issue is fixed in latest QA iOS build V3.0.194

[2022-10-14 14:51] #5040 closed

[2022-10-14 15:09] #5032 closed

[2022-10-14 15:15] Lathan-btc commented on #4807
Issue is fixed in the latest QA instance

[2022-10-14 15:15] #4807 closed

[2022-10-17 05:01] bhoomikav16 commented on #5039
Issue is still reproducing in the latest dev instance, i.e.,
Enter the values in the fields then, click on Save / Done button and Verify

![image](https://user-images.githubusercontent.com/86007179/196092710-341bbe38-3729-4948-b362-b2592cbd4e50.png)

[2022-10-17 08:25] Lathan-btc commented on #5016
@akashkumarv3

**Charts**
1.  If the user submits the values for any run it is displayed as the last run of the activity
2. Fetal kick counter > Values are showing as 0

[Note: for android users > same issue observed once user logged out and logged in ]

[2022-10-17 08:31] bhoomikav16 commented on #4618
Issue is fixed in the latest QA instance

[2022-10-17 08:32] Madhud5 commented on #5039
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-10-17 08:42] Lathan-btc commented on #5039
@Madhud5 Issue is fixed in the latest Dev instance

[2022-10-18 03:52] Madhud5 commented on #5039
Hi @bhoomikav16 please check and close the issue.
thanks

[2022-10-18 04:27] bhoomikav16 commented on #5039
Issue is fixed in the latest QA instance

[2022-10-18 04:28] #5039 closed

[2022-10-18 12:47] bhoomikav16 commented on #5016
Issue is still reproducing in the latest dev instance i.e.,
For form step > Charts and stats > 'No data' is getting displayed in charts and 'NA' is getting displayed for stats , even though the mobile user provided the response

[2022-10-18 12:56] akashkumarv3 commented on #4995
@Lathan-btc Issue is fixed in QA, please check and update.

[2022-10-18 13:31] bhoomikav16 commented on #4995
Issue is fixed in the latest QA instance

[2022-10-18 13:32] #4995 closed

[2022-10-18 17:04] akashkumarv3 commented on #5016
@Lathan-btc   For form step > Charts and stats > chart and stats is working now, please check and update

[2022-10-19 08:48] bhoomikav16 commented on #5016
Issue is fixed in the both VAPT dev and QA instance

[2022-10-19 08:48] #5016 closed

[2022-10-19 10:29] Lathan-btc opened #5044 "[UI] Study admin > My account screen > UI issue"
Study admin > My account screen > UI issue

![image](https://user-images.githubusercontent.com/71445210/196666673-54aee8ca-003b-4de2-8d59-6ecf01c67301.png)

[2022-10-19 12:08] #5044 closed

[2022-10-25 14:27] jaseva opened #5056 "Deployment: Cannot log into StudyBuilder with the Super Admin Credentials"
Hi there, I deployed v2.0.10 and all looks successful as it loads within the browser window when I visit the url:

studies.{PREFIX}-{ENV}.{DOMAIN}/studybuilder/

The credentials I created, following the instructions provided, do not seem to work as it says invalid email or password when I try to login through the website.

I'm not sure what the issue is as I believe I executed the deployment/scrip

[2022-10-26 22:10] jaseva commented on #5056
My issue is resolved. I did not have my Cloud DNS Zone set up properly as I have a separate 3rd party domain registrar, with another 3rd party hosting provider, and GCP. With the help from Google Support I was able to create a net new Cloud DNS Zone for my primary domain, update the domain registrar with the new Google nameservers, and then add all my website hosting provider A, MX, and CNAME reco

[2022-10-26 22:10] #5056 closed

[2022-10-26 22:26] jaseva commented on #4480
Hi @mohangmk @madhurya-btc, thanks for your help in the past on this issue. I finally had time to do another fresh re-deployment though with the latest v2.0.10 release, and once again I am experiencing this issue with the "Error in set AppInfo" error message while trying to save a new app record in the Study Builder.

[2022-10-27 11:16] bhoomikav16 commented on #4616
Issue is fixed in the latest IDP dev branch

[2022-10-27 11:19] bhoomikav16 commented on #4686
Issue is fixed in the latest IDP dev branch

[2022-10-27 11:20] Madhud5 commented on #4866
@Lathan-btc issue fixed pls check and close this

[2022-10-27 11:24] Lathan-btc commented on #4866
The issue is fixed in the latest IDP branch

[2022-10-27 11:25] bhoomikav16 commented on #5024
Issue is fixed in the latest IDP dev branch

[2022-10-27 11:27] bhoomikav16 commented on #5025
Issue is fixed in the latest IDP dev branch

[2022-10-27 11:32] bhoomikav16 commented on #4634
Issue is fixed in the latest IDP dev branch.

[**Note:** This issue has not reproduced again for any other admins.]

[2022-10-27 13:25] bhoomikav16 commented on #4657
A popup message is not getting displayed while adding a non-organizational admin in the PM

[2022-10-27 14:11] bhoomikav16 commented on #4384
Issue is reproduciable in both SB and PM

[2022-10-28 08:50] yugandhar-btc commented on #4480
@jaseva as part of the deployment, did you complete the DB-Migration ?

[2022-10-28 10:57] jaseva commented on #4480
Hi @yugandhar-btc, I only completed what was in the instructions up to the study builder. I see there is instructions for DB-Migration starting with instructions from v2.0.5 and onwards.

[2022-10-28 11:05] yugandhar-btc commented on #4480
@jaseva please complete the DB-migration and since you trying to deploy the v2.0.10 code, you no need to perform any upgrading steps.

[2022-10-28 11:07] jaseva commented on #4480
Thank you @yugandhar-btc, do I complete the instructions from v2.0.5 onwards?

[2022-10-28 11:10] yugandhar-btc commented on #4480
@jaseva No required, those instructions for upgrading from early versions.

[2022-10-28 11:12] jaseva commented on #4480
Oh okay, thank you @yugandhar-btc, I'll wait until the DNS Zones propagate then to reset my password and then retry logging in to the Study Builder app to see if a new app saves successfully. I think the root-cause to my issue was that I was incorrectly setting up my Cloud DNS Zone settings earlier on in the deployment steps and only realized that after a Google Engineer through a support ticket h

[2022-10-28 12:09] jaseva commented on #4480
Hi @yugandhar-btc, it looks sadly I am receiving the same "Error in set AppInfo" when trying to save an app in the Study Builder. For the App ID value, I labeled it as 01 and for the App name, I labeled it Test App.

![image](https://user-images.githubusercontent.com/5480431/198583659-e00291a9-2a1e-49bf-9606-6f282884ee41.png)

[2022-10-28 15:50] jaseva commented on #4480
Since this seems to impact the Study Builder and/ or Study Datastore, do you think it would be advisable to only delete components related to each, and then re-deploy manually? If I recall, while I was syncing I may have messed up git lfs as I think there was warnings related to the Android/ iOS apps having large files. When looking at the Study-Datastore documentation, the client applications are

[2022-10-28 16:31] yugandhar-btc commented on #4480
@jaseva Did you completed the DB-migration successfully with our errors?

[2022-10-28 16:37] yugandhar-btc commented on #4480
@jaseva Iam referring to these [Migrating Databases](https://github.com/GoogleCloudPlatform/fda-mystudies/tree/master/db-migration#migrating-databases) Steps.

[2022-10-28 16:38] jaseva commented on #4480
Hmm, I have not completed these steps. I can try right now to see and hopefully that is the issue.

[2022-10-28 16:58] jaseva commented on #4480
I'm in the network project bastion-vm as per the instructions, the first command to install open JDK I was able to run successfully:

wget https://download.java.net/java/GA/jdk13.0.1/cec27d702aa74d5a8630c65ae61e4305/9/GPL/openjdk-13.0.1_linux-x64_bin.tar.gz
tar -xvf openjdk-13.0.1_linux-x64_bin.tar.gz
mv jdk-13.0.1 /opt/

![image](https://user-images.githubusercontent.com/5480431/198690436-904c615

[2022-10-28 17:03] yugandhar-btc commented on #4480
@jaseva please use sudo mv apache-maven-3.6.3 /opt/

[2022-10-28 17:10] jaseva commented on #4480
Thank you @yugandhar-btc that worked.

[2022-10-28 17:17] jaseva commented on #4480
@yugandhar-btc this produces an error:

./cloud_sql_proxy -instances=<{PREFIX}-{ENV}-data:{REGION}:mystudies>=tcp:3306

![image](https://user-images.githubusercontent.com/5480431/198695165-22d5d900-f6f3-4b24-863e-97fb56bdd407.png)

I replaced <{PREFIX}-{ENV}-data:{REGION}:mystudies> with the actual instance connection name listed in the data project of the MySQL instance and it produced an error.

[2022-10-29 06:10] yugandhar-btc commented on #4480
@jaseva I think your MYSQL Instance name was not properly formatted, please find the right example below.

./cloud_sql_proxy -instances=ab-yxz-data:us-east1: mystudies=tcp:3306

[2022-10-29 12:55] jaseva commented on #4480
@yugandhar-btc thank you, that worked. It was a syntax error. I am now at the step of running the data migration scripts and the script for the auth-server database fails, likely due to incorrect syntax. For this command:

cd $GIT_ROOT/db-migration/auth-server-db-migration/
mvn clean flyway:migrate -Dflyway.user=${DB_USER} -Dflyway.configFiles=flyway.properties -Dflyway.password=${DB_PASS} -Dflywa

[2022-10-29 15:13] jaseva commented on #4480
@yugandhar-btc please disregard above as I did not move the JDK from the first step.

Success!! It works now, thank you kindly for your help, couldn't have done it without your assistance. I'll continue going through the steps to get an app and study started and if all goes well I'll close this issue once complete. Cheers!!

![image](https://user-images.githubusercontent.com/5480431/198839527-dcc1

[2022-11-03 06:07] bhoomikav16 opened #5073 "[IDP] [SB] Getting 'Invalid format' error when try to sign in study builder"
**Pre-condition-** IDP and MFA should be enabled in the study builder

**Steps:**
1. Add admins in the study builder by entering the value in the phone number field which should be as similar in the format displayed in the UI
2. After getting account setup link in an email, click on that link
3. Complete all the fields and click on Submit button
4. Now, Try to sign in with same credentials and Ver

[2022-11-03 06:31] bhoomikav16 opened #5074 "[SB] [UI] Edit questionnaire section > 'Activity short title or key' > Error message is overlapping with the title field"
**AR:** Error message is overlapping in the 'Activity short title or key' ,  when we enter the value which has been used in the past
**ER:** Error message should not overlap in the 'Activity short title or key' , when we enter the value which has been used in the past

![Ui](https://user-images.githubusercontent.com/86007179/199659202-af55d4fa-bc7f-4885-90ad-acd3865f2c8c.png)

[2022-11-03 07:20] bhoomikav16 opened #5075 "[IDP] [SB] Getting error when try to sign in with organizational admins in the study builder"
**Pre-condition-** IDP and MFA should be enabled in the study builder

Getting error when try to sign in with organizational admins in the study builder with valid credentials

![SB](https://user-images.githubusercontent.com/86007179/199665837-e75e07a3-7bb7-4918-8054-c2777d4e6fc9.png)

[2022-11-03 08:34] bhoomikav16 commented on #5024
Issue is still reproducing in the latest IDP dev branch

[2022-11-03 08:57] bhoomikav16 opened #5076 "[IDP] [PM] [AUTH Server] Getting invalid credential error message again , when try to sign in to PM in the following scenario"
**Steps:**
1. Enter valid email and invalid password
2. Click on 'Sign in' button
3. Now, enter valid registered email and password
4. Again, Click on 'Sign in' button and Observe

**AR:** Getting invalid credential error message again , when try to sign in to PM in the following scenario
**ER:** Error message should not get displayed , when try to sign in to PM in the following scenario

[screen-

[2022-11-03 10:34] Lathan-btc opened #5077 "[iOS] Study will be in in the 'Enrolled' status even though participant is withdrawn from the study"
Steps:
1. Sign up or sign in to the mobile app
2. Enroll to the study
3. Submit the activity
4. Go to the Study resources section
5. Withdrawn from the Study and observe

AR: Study will be in the Enrolled status
ER: Participation status of the study should be Withdrawn

[Note: While following the above steps, the participant should not navigate to any other screens (eg: Studies list screen)]

[2022-11-03 11:02] bhoomikav16 commented on #5073
Issue is still reproducing in the latest IDP branch, Getting 'Too_Long' error message when tried to sign in with organizational admin account

![image (9)](https://user-images.githubusercontent.com/86007179/199704561-9e9a6866-21a7-4a1e-8065-82ebb2638156.png)

[2022-11-03 14:30] akashkumarv3 commented on #5075
@Lathan-btc Issue is not reproducible. please test and update

[2022-11-03 14:32] Lathan-btc commented on #5075
Issue is fixed in the latest deployment

[2022-11-03 14:45] Lathan-btc commented on #5024
Issue is fixed in the latest IDP deployment

[2022-11-03 17:44] jaseva commented on #4480
Closing this issue as I was able to resolve my problem. Thanks for everyone's help.

[2022-11-04 05:12] bhoomikav16 commented on #5076
Issue is still reproducing in the latest IDP branch

[2022-11-04 05:22] bhoomikav16 commented on #5073
Issue is still reproducing in the latest IDP branch, Getting 'Too_Long' error message when tried to sign in with organizational admin account and not able to sign in

[2022-11-04 06:30] akashkumarv3 commented on #5073
@bhoomikav16 Issue is fixed now, please check and update.

[2022-11-04 08:16] akashkumarv3 commented on #5076
@bhoomikav16 Issue is not reproducible.

[2022-11-04 08:42] bhoomikav16 commented on #5076
@akashkumarv3  Issue is observed only for non-organizational admin

[2022-11-04 10:49] bhoomikav16 commented on #5073
Issue is still reproducing in the latest IDP branch, Getting 'Too_Long' error message when tried to sign in with organizational admin account and not able to sign in

[2022-11-04 11:09] bhoomikav16 opened #5078 "[IDP] [SB] [PM] Not able to complete the sign in process in the following scenario for the organizational admins"
**Pre-condition:**
1. Organizational admin should be added in the SB and PM
2. IDP and MFA should be enabled in both SB and PM

**Steps:**
1. Enter valid credentials and sign in and select the re-Captcha
2. Then, Enter verification code in the verification popup message in the sign in screen
3. Press 'Enter' button on the keyboard and Verify

In SB,
**AR:** Not able to sign in in the above scenari

[2022-11-04 11:40] bhoomikav16 opened #5079 "[IDP] [PM] UI Issue when user enters wrong password in the auth server"
UI Issue when user enters wrong password in the 'AUTH' server

**AR:**
![UI PM](https://user-images.githubusercontent.com/86007179/199964208-754f65de-5630-49ff-9441-2e1f9507b334.png)

**ER:**
![image](https://user-images.githubusercontent.com/86007179/199963807-b20201fb-fcb0-4a04-96fd-e1eb5985a8a3.png)

[2022-11-04 12:01] bhoomikav16 opened #5080 "[IDP] [PM] Entered value in sign in screen is not getting displayed in the following scenario"
**Steps:**
1. Enter email and password of non -organizational admin
2. Click on eye icon present in the password field (Password will be decrypted)
3. Click on 'Sign in' button and Verify

**AR:** Entered values in sign in screen are not getting displayed in the following scenario
**ER:** Entered values in sign in screen should get displayed in the following scenario

[screen-capture (11).webm](ht

[2022-11-07 07:42] Lathan-btc commented on #5073
@akashkumarv3
As discussed with the BA team, please change the mobile format for both SB and PM as mentioned below

+X XXX XXX XXXX

[2022-11-07 07:48] Lathan-btc opened #5081 "[IDP] [SB] [PM] Pop up to enter the OTP is not getting displayed in the following scenario"
Steps:
1. Go to the login page of the SB/PM
2. Enter a valid email and password
3. Select the captcha
4. On the displayed popup enter the invalid OTP and click on OK or click on the cancel button
5. Again try to sign in with a valid email and password without refreshing the page

AR: Pop up to enter the OTP is not getting displayed
ER: Pop up should get displayed to the admins

[2022-11-07 08:07] Lathan-btc commented on #5080
Issue is fixed in the latest Dev instance

[2022-11-07 12:02] madhud-btc commented on #4656
Hi @Lathan-btc please check and close this ticket.
thanks

[2022-11-07 12:03] madhud-btc commented on #5074
Hi @Lathan-btc please check and close this ticket.
thanks

[2022-11-07 12:03] madhud-btc commented on #4384
Hi @Lathan-btc please check and close this ticket.
thanks

[2022-11-07 12:06] madhud-btc commented on #5079
Hi @Lathan-btc please check and close this ticket.
thanks

[2022-11-07 12:36] Lathan-btc commented on #5074
Issue is fixed in the latest Dev-IDP instance

[2022-11-07 12:41] Lathan-btc commented on #5079
Now, issue is getting observed if admins open the Sign in page of the PM

![image](https://user-images.githubusercontent.com/71445210/200312841-9c21c5a2-9c0c-4929-a5a1-ff3526ff8631.png)

[2022-11-07 12:57] Lathan-btc commented on #4384
Issue is fixed in the latest IDP branch

[2022-11-07 13:32] Lathan-btc commented on #4656
@Madhud5 Dropdown icon is not getting displayed in PM even though IDP is enabled for PM

![image](https://user-images.githubusercontent.com/71445210/200322970-045a3779-25ee-4935-a56c-f5888d88af09.png)

[2022-11-07 14:00] Lathan-btc commented on #5073
@akashkumarv3 Issue should also be fixed for PM

![image](https://user-images.githubusercontent.com/71445210/200328651-fd6446ad-cde4-4ac6-be80-911ce01b1575.png)

[2022-11-07 14:56] akashkumarv3 commented on #5073
@Lathan-btc Issue is fixed in PM also please check and update .

[2022-11-08 05:07] bhoomikav16 commented on #5076
Issue is fixed in the latest IDP dev branch

[2022-11-08 05:19] bhoomikav16 commented on #5073
@akashkumarv3  Issue is still reproducing in 'My account' screen. Phone number format is not accepting the input as in the UI

[2022-11-08 05:32] bhoomikav16 commented on #5081
Issue is still reproducing in the PM IDP dev branch

[2022-11-08 06:01] akashkumarv3 commented on #5081
@bhoomikav16 Issue is fixed in PM also. please check and update.

[2022-11-08 06:56] Lathan-btc commented on #5079
Issue i s fixed in the latest Dev_IDP instance

[2022-11-08 07:46] bhoomikav16 opened #5083 "[IDP] [SB] [PM] Sign in button should not be enabled in the following scenario"
**Steps:**
1. Enter valid email and password
2. Click on Sign in button
3. Again, Try to click on 'Sign in' button and Verify

**AR:** Sign in button is enabled in the following scenario
**ER:** Sign in button should not be enabled in the following scenario

**Note:**  Due to above scenario, getting error messages in the sign in screen

[2022-11-08 10:36] akashkumarv3 commented on #5083
@bhoomikav16 Issue is also fixed in PM. please check and update.

[2022-11-08 10:41] bhoomikav16 commented on #5073
Issue is observed in account creation flow also

[2022-11-08 11:06] bhoomikav16 commented on #5083
Issue is still reproducing in the latest PM IDP dev branch, and issue is fixed in the latest SB IDP dev branch

[2022-11-08 11:09] bhoomikav16 commented on #5081
Issue is fixed in the latest IDP dev branch in both SB and PM

[2022-11-08 11:17] bhoomikav16 opened #5085 "[IDP] [PM] Verification code should be received by the admins to their latest updated phone number"
**Steps:**
1. Login to PM
2. Click on admins tab
3. Edit any IDP admin
4. Change the old phone number with new phone number
5. Click on 'Update' button
6. Now, Try to login with IDP admin credentials and Verify

**AR:**  Verification code is received by the admins to their old phone number
**ER:**  Verification code should be received by the admins to their latest updated phone number

[2022-11-08 13:24] akashkumarv3 commented on #5083
@Lathan-btc Issue is fixed in PM also

[2022-11-08 19:15] jaseva opened #5086 "Upgrade from v2.0.10 to v2.0.11: DB Migration Build Fails for Study Builder"
Hi there,

I initially had v2.0.10 installed and am attempting to upgrade to v2.0.11 following the instructions. The build for the studybuilder database seems to fail while following the DB migration instructions https://github.com/GoogleCloudPlatform/fda-mystudies/blob/master/db-migration/README.md:

![image](https://user-images.githubusercontent.com/5480431/200654539-62c32304-7bf3-4881-a55e-2c6f

[2022-11-09 04:54] bhoomikav16 commented on #5083
Issue is fixed in the latest PM IDP dev branch

[2022-11-09 06:55] bhoomikav16 commented on #5085
Issue is fixed in the latest PM IDP dev branch

[2022-11-09 08:12] yugandhar-btc commented on #5086
@jaseva are you facing this No database found issue only to the fda_hphc database ?

[2022-11-09 11:42] jaseva commented on #5086
@yugandhar-btc Initially it was a checksum mismatch for the fda_hphc database when I used the default versions listed in pom.xml. When I upgrdaded the versions as a potential fix, it says no database found.  I do not think it is related to the versions listed in pom.xml as the migration for the other databases worked fined using the same early versions.

[2022-11-09 11:52] madhud-btc commented on #4657
Hi @bhoomikav16 issue fixed pls check in dev and confirm.
thank you.

[2022-11-09 11:52] madhud-btc commented on #5026
Hi @bhoomikav16 issue fixed pls check in dev and confirm.
thank you.

[2022-11-09 11:53] madhud-btc commented on #4656
Hi @bhoomikav16 issue fixed pls check in dev and confirm.
thank you.

[2022-11-09 11:54] madhud-btc commented on #5073
Hi @bhoomikav16 issue fixed pls check in dev and confirm.
thank you.

[2022-11-09 12:42] bhoomikav16 commented on #4657
Issue is fixed in the latest PM IDP dev branch, when IDP and MFA is enabled

[2022-11-09 12:45] bhoomikav16 commented on #4656
Issue is fixed in the latest SB IDP dev branch, when IDP and MFA is enabled

[2022-11-09 13:01] bhoomikav16 commented on #5085
Issue is reproducing in the following scenario,

**Steps:**
1. Login to PM with organizational admins credentials
2. Click on My account tab
3. Change the old phone number with new phone number
4. Click on 'Update' button
5. Now, Try to login with IDP admin credentials and Verify

**AR:** Verification code is received by the admins to their old phone number
**ER:** Verification code should be rece

[2022-11-09 13:10] yugandhar-btc commented on #5086
@jaseva could you please repair flyway with below command and try

mvn flyway:repair -Dflyway.user=${DB_USER} -Dflyway.configFiles=flyway.properties -Dflyway.password=${DB_PASS} -Dflyway.url=jdbc:mysql://127.0.0.1:3306/fda_hphc

[2022-11-09 13:20] jaseva commented on #5086
@yugandhar-btc thanks for the command, it produced an error though (in the bastion-vm of the networks project). When I started the vm, I set the environment variables in the deployment/scripts folder "source set_env_var.sh" and then executed the command you provided:

![image](https://user-images.githubusercontent.com/5480431/200840715-c910b776-9087-4514-bb4b-0e0c3e6fddda.png)

Should I try revert

[2022-11-09 13:22] bhoomikav16 commented on #5078
Issue is still reproducing in the latest dev IDP branch

[2022-11-09 13:25] yugandhar-btc commented on #5086
@jaseva please revert the changes you made and then start from the beginning of [db-migration](https://github.com/GoogleCloudPlatform/fda-mystudies/tree/develop-IDP/db-migration) steps.

[2022-11-09 13:25] jaseva commented on #5086
Okay, I'll try that again @yugandhar-btc

[2022-11-09 13:28] bhoomikav16 commented on #5026
Issue is fixed in the latest PM IDP dev branch

[2022-11-09 13:31] bhoomikav16 commented on #5073
Issue is fixed in the latest PM IDP dev branch

[2022-11-09 13:50] jaseva commented on #5086
@yugandhar-btc I reverted back the plugin versions in pom.xml, updated the dev-vm github repo, successuly completed another cloud build in the dev-ops project, ran a git pull origin <branch> command in the bastion-vm of the network project, re-ran the deployment instructions for the database migration. The first 3 databases successfully built, the study-builder failed again with the original check

[2022-11-10 03:22] yugandhar-btc commented on #5086
@jaseva Looks the  [Migration](https://github.com/GoogleCloudPlatform/fda-mystudies/tree/master/deployment#migration-to-cloud-healthcare-api-from-firestore-2011-upgrade) was no done properly and you no need to add secrets manually in console, those are supposed to be created from the script.

[2022-11-10 03:46] jaseva commented on #5086
Hi @yugandhar-btc, I figured out my mistake, it turns out in the script above, I was using underscores as opposed to hyphens for the secret id values.

Once corrected, I rebuilt the cloud build project from the GitHub repo, and terraform init && apply worked fine, I repeated all steps, including migrating the databases. There were no errors.

I still see the version 2.0.10 displayed on the Study B

[2022-11-10 05:22] bhoomikav16 commented on #4657
Issue is reproducing in the latest PM IDP dev branch, when IDP and MFA is disabled

[2022-11-10 05:25] bhoomikav16 commented on #4656
Issue is observed in PM IDP DEV branch, when IDP and MFA is disabled

**Note:** Issue is fixed in the latest SB IDP dev branch, when IDP and MFA is disabled

[2022-11-10 09:11] bhoomikav16 commented on #5085
Issue is fixed in the latest PM IDP dev branch

[2022-11-10 10:21] madhud-btc commented on #4657
Hi @bhoomikav16 issue fixed pls check in dev and confirm.
thank you.

[2022-11-10 10:22] madhud-btc commented on #4656
Hi @bhoomikav16 issue fixed pls check in dev and confirm.
thank you.

[2022-11-10 12:12] bhoomikav16 commented on #4656
Issue is fixed in the latest SB and PM IDP dev branch, when IDP and MFA is disabled

[2022-11-10 12:16] bhoomikav16 commented on #4657
Issue is fixed in the latest PM IDP dev branch, when IDP and MFA is disabled

[2022-11-11 05:13] jaseva commented on #5086
Hi @yugandhar-btc I tried deploying an Android app today, I seem to run into an issue with configuring the participant-datastore.

I am following the Android instructions here: https://github.com/GoogleCloudPlatform/fda-mystudies/tree/master/Android

For the 5th step, I initially skipped this as I thought I had configured previously by following the semi-automated deployment instructions.

![image

[2022-11-11 19:31] jaseva opened #5089 "[Android][Offline Indicator] Invalid Client: You are offline. Kindly check the internet connection."
Hi @yugandhar-btc I tried deploying an Android app today, I seem to run into an issue with configuring the participant-datastore.

I am following the Android instructions here: https://github.com/GoogleCloudPlatform/fda-mystudies/tree/master/Android

For the 5th step, I initially skipped this as I thought I had configured previously by following the semi-automated deployment instructions.

![image

[2022-11-12 13:28] jaseva commented on #5089
On another note, the documentation for this deployment is not easy to follow and is outdated. It bounces around all over the place.

[2022-11-15 05:52] yugandhar-btc commented on #5086
@jaseva could you please confirm what is the **data_project_id** secret value in deployment/terraform/Kubernetes/main.tf. if there is no secret, please add data project is as a value to the **data_project_id**.

Example: -
    data_project_id                   = "{{.prefix}}-{{.env}}-data"

[2022-11-15 19:58] jaseva commented on #5086
@yugandhar-btc thanks for the info, which section in the main.tf file should I add this value as it is missing:

data_project_id = "{{.prefix}}-{{.env}}-data"

[2022-11-16 06:34] akashkumarv3 commented on #5078
Hi,
 This is browser keyboard limitation functionality, it does not allow us to customize the browser functionality   consider this please kindly close the ticket as per discussion with @Madhud5

[2022-11-16 06:59] bhoomikav16 commented on #5078
As per the above comment, Closing this issue.

[2022-11-16 06:59] #5078 closed, assigned to akashkumarv3

[2022-11-16 10:50] yugandhar-btc commented on #5086
@jaseva  please update _deployment/terraform/kubernetes/main.tf_ with data project value and make sure you terraform and re-deploy all the modules.

cd $GIT_ROOT/deployment/terraform/kubernetes/
terraform init && terraform apply

[2022-11-16 17:50] jaseva commented on #5086
Hi @yugandhar-btc, I didn't find this value in the deployment/terraform/kubernets/main.tf data project however I found it missing in the mystudies.hcl location where it was referenced in the code repo in 14 files (while using the search):

https://github.com/GoogleCloudPlatform/fda-mystudies/search?p=1&q=data_project_id

Should I go in and manually re-add it to the other 13 files that are referenc

[2022-11-18 06:15] bhoomikav16 commented on #4994
UI Issue is observed only for 'Select the study version to be copied' popup message in the study builder

[2022-11-18 07:32] madhud-btc commented on #4994
Hi @bhoomikav16 pls check and close this ticket.
thanks

[2022-11-18 08:02] bhoomikav16 commented on #4994
Issue is fixed in the latest IDP Dev branch

[2022-11-22 07:08] Lathan-btc commented on #5077
Issue is fixed in the latest Dev build

[2022-11-22 07:10] bhoomikav16 opened #5094 "[SB] UI Issue > Questionnaires / Active task > Error messages are overlapping in the scheduling screen"
Questionnaires / Active task > Error messages are overlapping in the scheduling screen

![UII](https://user-images.githubusercontent.com/86007179/203248109-38f868ed-1384-4b4a-8a84-f8d1254e99da.png)

**Note:**
1. Issue needs to be fixed for both Questionnaires and Active tasks
2. Issue needs to be fixed for all scheduling options

[2022-11-22 08:27] akashkumarv3 commented on #5094
Hi @bhoomikav16  Issue is fixed now ,please check and update.

[2022-11-22 08:44] bhoomikav16 commented on #5094
Issue is still reproducing,

 For active task i.e., No space between error message and the field
![active task](https://user-images.githubusercontent.com/86007179/203266100-af953ec9-3fe8-4d9e-90fd-c67630b11df5.png)
For questionnaires, Anchor date and one time > Error message is getting displayed out of the screen
![Questionnaires](https://user-images.githubusercontent.com/86007179/203266294-de93c0

[2022-11-22 09:11] bhoomikav16 opened #5095 "[IDP] [PM] [MFA Disabled] Submit button is disabled in the following scenario"
**Pre-condition:** mfa should be disabled in the PM
**Steps:**
1. Login to PM
2. Navigate to admins section
3. Add admin in the application with phone number in the following format +919999999999
4. Click on the account creation link of added admin
5. Complete all the fields
6. Click on 'Submit' button and Verify

**AR:** Submit button is disabled in the following scenario
**ER:** Submit button sh

[2022-11-22 11:51] bhoomikav16 opened #5096 "[IDP] [SB] Admin is able to create the questionnaires without entering data in the scheduling screen"
For monthly,
Admin is able to create the questionnaires without entering data in the scheduling screen
For Weekly,
Fields are not getting displayed when admins clicks on 'Done' button without any data in the scheduling screen

[screen-capture (14).webm](https://user-images.githubusercontent.com/86007179/203306064-edf4a878-42a4-4422-8359-8e8b1eb7dd5a.webm)

**Note:**
Issue is observed in both ancho

[2022-11-22 11:57] bhoomikav16 commented on #5096
@akashkumarv3 Above issue was happening because of cache issue , Tried after clearing browsing data. It is working fine.

[2022-11-22 12:55] bhoomikav16 opened #5097 "[Android] Getting 'You are offline' popup message when tried to signup in the mobile app"
**Steps:**
1. Install the build
2. Open the app
3. Sign up for the app
4. Complete the sign up process and Verify, after navigating to study list screen

**AR:** Getting 'You are offline' popup message when tried to signup in the mobile app
**ER:** Study list should be loaded without any error's

**Note:**
1.  Issue is observed intermittently
2. Issue is observed only in sign up flow

![Screenshot

[2022-11-23 07:48] akashkumarv3 commented on #5097
@bhoomikav16 HI, Issue is fixed, please check and update.

[2022-11-23 08:11] bhoomikav16 commented on #5097
Issue is fixed in the latest android dev build

[2022-11-24 10:41] bhoomikav16 opened #5101 "[IDP] [SB] Edit admins screen > Already added data is getting displayed in the following scenario"
**Steps:**
1.  Edit 'Super admin' in the SB
2.  Change to role to 'Study admin'
3. Click the 'Select and add apps' dropdown and Verify

**AR:** Edit admins screen > Already added data is getting displayed in the following scenario
**ER:** Edit admins screen > Already added data should not get displayed in the following scenario

**Note:** Issue is observed in both 'Select and add apps' dropdown an

[2022-11-24 13:48] bhoomikav16 commented on #4384
Issue is fixed in the latest IDP QA branch

[2022-11-24 13:51] bhoomikav16 commented on #4608
Issue is fixed in the latest IDP QA branch

[2022-11-24 13:53] bhoomikav16 commented on #4605
As per the above comment by the dev team , Issue is fixed in the latest dev IDP QA instance

[2022-11-24 13:54] #4605 closed

[2022-11-24 13:55] #4608 closed

[2022-11-24 13:57] #4384 closed

[2022-11-24 13:58] bhoomikav16 commented on #4612
Issue is fixed in the latest QA instance

[2022-11-24 13:59] #4612 closed

[2022-11-24 14:00] bhoomikav16 commented on #4614
Issue is fixed in the latest QA instance

[2022-11-24 14:00] #4614 closed

[2022-11-24 14:02] bhoomikav16 commented on #4616
Issue is fixed in the latest QA instance

[2022-11-24 14:02] #4616 closed

[2022-11-24 14:05] bhoomikav16 commented on #4618
Issue is fixed in the latest IDP QA instance

[2022-11-24 14:08] bhoomikav16 commented on #4609
Issue is fixed in the latest QA instance

[2022-11-24 14:08] #4609 closed

[2022-11-24 14:09] bhoomikav16 commented on #4621
Issue is fixed in the latest QA instance

[2022-11-24 14:09] #4621 closed

[2022-11-24 14:11] bhoomikav16 commented on #4623
Issue is fixed in the latest QA instance

[2022-11-24 14:11] #4623 closed

[2022-11-24 15:39] Lathan-btc opened #5102 "[iOS] Not getting the study completion pop up in the study activities screen even though user submitted all the activities"
Not getting the study completed pop-up is not getting displayed on the study activities screen even though the user submitted all the activities present in the activities screen

Actual result:

![image](https://user-images.githubusercontent.com/71445210/203822030-30c159dd-c46b-40bb-b303-6ef52d63075a.png)

Expected result:

![image](https://user-images.githubusercontent.com/71445210/203822187-6231

[2022-11-25 04:33] bhoomikav16 commented on #4281
Issue is fixed in the latest Idp branch in QA instance

[2022-11-25 04:33] #4281 closed

[2022-11-25 04:36] bhoomikav16 commented on #4285
Issue is fixed in the latest QA instance

[2022-11-25 04:36] #4285 closed

[2022-11-25 04:38] bhoomikav16 commented on #4287
Issue is fixed in the latest QA instance.

[2022-11-25 04:38] #4287 closed

[2022-11-25 04:39] bhoomikav16 commented on #4291
Issue is fixed in the latest QA instance

[2022-11-25 04:39] #4291 closed

[2022-11-25 04:40] bhoomikav16 commented on #4334
Issue is fixed in the latest QA instance.

[2022-11-25 04:40] #4334 closed

[2022-11-25 04:48] bhoomikav16 opened #5103 "[IDP [QA] [SB] Popup message is getting displayed while adding a non organizational admin in the study builder in the following scenario"
Try to add non organizational admin in the study builder without phone number field and Verify

**AR:** Popup message is getting displayed while adding a non organizational admin in the study builder in the following scenario
**ER:** Popup message should get displayed while adding a non organizational admin in the study builder only when all the mandatory fields are completed in the screen

**Note

[2022-11-25 04:51] bhoomikav16 commented on #4339
Issue is fixed in the latest QA instance.

[2022-11-25 04:51] #4339 closed

[2022-11-25 04:52] bhoomikav16 commented on #4348
Issue is fixed in the latest QA instance.

[2022-11-25 04:52] #4348 closed

[2022-11-25 04:52] bhoomikav16 commented on #4383
Issue is fixed in the latest QA instance

[2022-11-25 04:53] #4383 closed

[2022-11-25 04:53] bhoomikav16 commented on #4390
Issue is fixed in the latest QA instance

[2022-11-25 04:53] #4390 closed

[2022-11-25 04:55] bhoomikav16 commented on #4414
Issue is fixed in the latest IDP QA instance

[2022-11-25 04:55] #4414 closed

[2022-11-25 04:56] bhoomikav16 commented on #4585
Issue is fixed in the latest QA instance

[2022-11-25 04:56] #4585 closed

[2022-11-25 05:00] bhoomikav16 commented on #4586
Issue is fixed in the latest QA instance

[2022-11-25 05:00] #4586 closed

[2022-11-25 05:01] bhoomikav16 commented on #4593
Issue is fixed in the latest IDP branch in QA instance

[2022-11-25 05:02] #4593 closed

[2022-11-25 05:03] bhoomikav16 commented on #4624
Issue is fixed in the latest QA instance

[2022-11-25 05:03] #4624 closed

[2022-11-25 05:04] bhoomikav16 commented on #4625
Issue is fixed in the latest QA instance

[2022-11-25 05:05] #4625 closed

[2022-11-25 05:06] bhoomikav16 commented on #4627
Issue is fixed in the latest QA instance

[2022-11-25 05:06] #4627 closed

[2022-11-25 05:06] bhoomikav16 commented on #4630
Issue is fixed in the latest QA instance

[2022-11-25 05:06] #4630 closed

[2022-11-25 05:09] bhoomikav16 commented on #4634
Issue is fixed in the latest IDP QA branch.

[Note: This issue has not reproduced again for any other admins even in QA instance.]

[2022-11-25 05:09] #4634 closed

[2022-11-25 05:10] bhoomikav16 commented on #4635
Issue is fixed in the latest QA IDP instance

[2022-11-25 05:10] #4635 closed

[2022-11-25 05:12] bhoomikav16 commented on #4643
Issue is fixed in the latest QA instance

[2022-11-25 05:12] #4643 closed

[2022-11-25 05:13] bhoomikav16 commented on #4647
Issue is fixed in the latest QA instance

[2022-11-25 05:13] #4647 closed

[2022-11-25 05:14] bhoomikav16 commented on #4648
Issue is fixed in the latest QA instance

[2022-11-25 05:14] #4648 closed

[2022-11-25 05:16] bhoomikav16 commented on #4655
Issue is fixed in the latest QA instance

[2022-11-25 05:16] #4655 closed

[2022-11-25 05:18] bhoomikav16 commented on #4663
Issue is fixed in the latest QA instance

[2022-11-25 05:18] #4663 closed

[2022-11-25 05:29] bhoomikav16 commented on #4686
Issue is fixed in the latest IDP QA branch

[2022-11-25 05:29] #4686 closed

[2022-11-25 05:30] bhoomikav16 commented on #4701
Issue is fixed in the latest QA instance

[2022-11-25 05:30] #4701 closed

[2022-11-25 05:30] bhoomikav16 commented on #4866
The issue is fixed in the latest IDP QA branch

[2022-11-25 05:30] #4866 closed

[2022-11-25 05:31] bhoomikav16 commented on #4994
Issue is fixed in the latest IDP QA branch

[2022-11-25 05:31] #4994 closed

[2022-11-25 05:33] bhoomikav16 commented on #5026
Issue is fixed in the latest PM IDP QA branch

[2022-11-25 05:34] #5026 closed

[2022-11-25 05:36] bhoomikav16 commented on #5073
Issue is fixed in the latest IDP QA branch

[2022-11-25 05:36] #5073 closed, assigned to madhud-btc, akashkumarv3

[2022-11-25 05:38] bhoomikav16 commented on #5074
Issue is fixed in the latest QA-IDP instance

[2022-11-25 05:38] #5074 closed, assigned to madhud-btc

[2022-11-25 05:39] bhoomikav16 commented on #5075
Issue is fixed in the latest QA instance

[2022-11-25 05:39] #5075 closed, assigned to akashkumarv3

[2022-11-25 05:41] bhoomikav16 commented on #5076
Issue is fixed in the latest IDP QA branch

[2022-11-25 05:42] #5076 closed, assigned to akashkumarv3

[2022-11-25 05:43] bhoomikav16 commented on #5079
Issue is fixed in the latest QA instance

[2022-11-25 05:43] #5079 closed, assigned to madhud-btc

[2022-11-25 05:44] bhoomikav16 commented on #5080
Issue is fixed in the latest QA instance

[2022-11-25 05:44] #5080 closed, assigned to akashkumarv3

[2022-11-25 05:45] bhoomikav16 commented on #5083
Issue is fixed in the latest IDP QA instance

[2022-11-25 05:45] #5083 closed, assigned to akashkumarv3

[2022-11-25 05:46] bhoomikav16 commented on #5085
Issue is fixed in the latest PM IDP QA branch

[2022-11-25 05:46] #5085 closed, assigned to akashkumarv3

[2022-11-25 06:25] madhud-btc commented on #5094
Hi @bhoomikav16 please check this ticket and close.
thanks

[2022-11-25 06:55] bhoomikav16 commented on #5094
Issue is reproducing in the latest dev and QA instance for anchor date scheduling option

[2022-11-25 06:55] bhoomikav16 commented on #5096
Issue is still reproducing in the latest dev and QA instance

[2022-11-25 07:06] bhoomikav16 commented on #5097
Issue is fixed in the latest android QA build

[2022-11-25 07:06] #5097 closed, assigned to akashkumarv3

[2022-11-25 07:27] akashkumarv3 commented on #5096
@bhoomikav16 Issue is fixed now ,please check and update .

[2022-11-25 07:28] akashkumarv3 commented on #5094
@bhoomikav16 Hi, Issue is fixed both dev and qa env now in all scenarios. please check and update.

[2022-11-25 07:38] bhoomikav16 commented on #5094
Issue is fixed in the latest dev and QA instance

[2022-11-25 07:38] #5094 closed, assigned to madhud-btc, akashkumarv3

[2022-11-25 07:41] bhoomikav16 commented on #5096
Issue is reproducing for anchor monthly option in both dev and QA instance

[2022-11-25 07:57] bhoomikav16 commented on #5102
Issue is fixed in the latest iOS QA build 3.0(204)

[2022-11-25 07:57] #5102 closed, assigned to Lathan-btc

[2022-11-25 09:21] akashkumarv3 commented on #5096
@bhoomikav16 issue is fixed now .

[2022-11-25 10:05] bhoomikav16 commented on #5096
Issue is fixed in the latest dev and QA instance

[2022-11-25 10:06] #5096 closed, assigned to akashkumarv3

[2022-11-25 11:03] bhoomikav16 commented on #4633
Issue is fixed in the latest QA instance

[2022-11-25 11:03] #4633 closed

[2022-11-25 11:03] bhoomikav16 commented on #4640
Issue is fixed in the latest QA instance

[2022-11-25 11:03] #4640 closed

[2022-11-25 11:04] bhoomikav16 commented on #4641
Issue is fixed in the latest QA instance

[2022-11-25 11:04] #4641 closed

[2022-11-25 11:05] bhoomikav16 commented on #4642
Issue is fixed in the latest QA instance

[2022-11-25 11:05] #4642 closed

[2022-11-25 11:08] bhoomikav16 commented on #4645
Issue is fixed in the latest QA instance

[2022-11-25 11:08] #4645 closed

[2022-11-25 11:08] bhoomikav16 commented on #4653
Issue is fixed in the latest QA instance

[2022-11-25 11:08] #4653 closed

[2022-11-25 11:09] bhoomikav16 commented on #4654
Issue is fixed in the latest QA instance

[2022-11-25 11:09] #4654 closed

[2022-11-25 11:24] bhoomikav16 commented on #4656
Issue is fixed in the latest QA instance.

[2022-11-25 11:24] #4656 closed

[2022-11-25 11:27] bhoomikav16 commented on #4657
Issue is fixed in the latest QA instance

[2022-11-25 11:28] #4657 closed

[2022-11-25 11:28] bhoomikav16 commented on #4673
Issue is fixed in the latest QA instance

[2022-11-25 11:28] #4673 closed

[2022-11-25 11:30] bhoomikav16 commented on #4674
Issue is fixed in the latest QA instance

[2022-11-25 11:30] #4674 closed

[2022-11-25 11:31] bhoomikav16 commented on #5024
Issue is fixed in the latest QA instance

[2022-11-25 11:31] #5024 closed

[2022-11-25 11:31] bhoomikav16 commented on #5025
Issue is fixed in the latest QA instance

[2022-11-25 11:32] #5025 closed

[2022-11-25 11:54] akashkumarv3 commented on #5103
@bhoomikav16 Hi, Issue is fixed now. please check and update.

[2022-11-25 11:56] bhoomikav16 commented on #4622
Performed sanity testing on PM QA branch and everything looks good

[2022-11-25 11:56] #4622 closed

[2022-11-25 12:25] bhoomikav16 commented on #5103
Issue is fixed in the latest QA instance

[2022-11-25 12:26] #5103 closed, assigned to akashkumarv3

[2022-11-25 12:27] bhoomikav16 commented on #5081
Issue is fixed in the latest IDP QA instance

[2022-11-25 12:27] #5081 closed, assigned to akashkumarv3

[2022-11-25 12:28] bhoomikav16 commented on #4338
Issue is fixed in the latest QA instance.

[2022-11-25 12:28] #4338 closed

[2022-11-25 12:31] bhoomikav16 commented on #4456
Issue is fixed in the latest QA instance

[2022-11-25 12:39] bhoomikav16 commented on #4456
Issue is reproducing in the IDP QA branch

[2022-11-25 13:53] akashkumarv3 commented on #4456
@bhoomikav16 Issue is fixed in QA also please check and update.

[2022-11-25 15:34] bhoomikav16 commented on #4456
Issue is fixed in the latest QA instance

[2022-11-25 15:34] #4456 closed

[2022-11-25 15:36] bhoomikav16 commented on #4314
Issue is fixed in the latest QA instance

[2022-11-25 15:37] #4314 closed

[2022-11-25 15:38] bhoomikav16 commented on #4284
Issue is fixed in the latest QA instance

[2022-11-25 15:38] #4284 closed

[2022-11-25 15:39] bhoomikav16 commented on #4288
Issue is fixed in the latest QA instance

[2022-11-25 15:40] #4288 closed

[2022-11-25 15:42] bhoomikav16 commented on #4289
Issue is working fine as per the above comment by @harisboston in QA instance also

[2022-11-25 15:42] #4289 closed

[2022-11-28 05:22] akashkumarv3 commented on #5101
@bhoomikav16 Issue is fixed, please test and update .

[2022-11-28 06:07] Lathan-btc commented on #5101
Issue is reproducible in the following scenario

1. Click on Super admin
2. Change super admin to study admin
3. Click on updates
4. Again click on the edit icon
5. Click on the Studies and apps dropdown
6. Observe

AR: Edit admins screen > Already added data is getting displayed in the following scenario
ER: Edit admins screen > Already added data should not get displayed in the following scenari

[2022-11-28 09:52] Lathan-btc commented on #5095
Issue is fixed in the latest Dev instance

[2022-11-28 09:58] Lathan-btc commented on #5077
Issue is fixed in the latest QA build

[2022-11-28 09:58] #5077 closed, assigned to amruthbtc

[2022-11-28 09:59] Lathan-btc commented on #4941
Issue is fixed in the latest QA build

[2022-11-28 09:59] #4941 closed

[2022-11-28 12:23] Lathan-btc commented on #5095
Issue is fixed in the latest QA instance

[2022-11-28 12:23] #5095 closed, assigned to madhud-btc, Rashi-395

[2022-11-29 11:05] yugandhar-btc commented on #5086
@jaseva You need to add data_project_id = "{{.prefix}}-{{.env}}-data" in _deployment/terraform/kubernetes/main.tf_ under the
#Shared secrets module.

[2022-11-29 13:11] Lathan-btc opened #5105 "Participant manager datastore build is failing"
The participant manager datastore build is failing

https://github.com/GoogleCloudPlatform/fda-mystudies/actions/runs/3567013895/jobs/5994187868

[2022-11-29 14:37] Lathan-btc opened #5106 "[PM] [Auth server] Sign in button is disabled in the following screen"
Steps:
1. Click on PM URL
2. Without entering the data click on Submit button
3. Enter the required values and observe

AR: Sign in button is disabled
ER: Sign in button should be enabled in the following scenario

![image](https://user-images.githubusercontent.com/71445210/204558291-54dae9c1-4e37-4646-8b4f-459d62e661fb.png)

[2022-11-30 04:57] akashkumarv3 commented on #5101
@Madhud5 Above issue is happening due upgradation of bootstrap. So please look into this

[2022-11-30 06:01] Lathan-btc commented on #5106
Issue is fixed in the latest Dev instance

[2022-11-30 06:01] #5106 closed, assigned to akashkumarv3

[2022-11-30 16:12] jaseva commented on #5086
Hi @yugandhar-btc, I added the reference you specified, rebuilt from my DevOps project, rebuilt all the apps within the Apps project, and I am still producing issues with the Kuberenetes Ingress and Workloads.

I might follow your steps from the past and try deleting the databases and re-deploying in an effort to save this environment deployment, in particular, the assigned domain name server shar